.pr-star-v4.pr-star-v4-100-filled {
  background-image: url("../../img/icons/star-100.png") !important; }

.pr-star-v4.pr-star-v4-75-filled {
  background-image: url("../../img/icons/star-75.png") !important; }

.pr-star-v4.pr-star-v4-50-filled {
  background-image: url("../../img/icons/star-50.png") !important; }

.pr-star-v4.pr-star-v4-25-filled {
  background-image: url("../../img/icons/star-25.png") !important; }

.pr-star-v4.pr-star-v4-0-filled {
  background-image: url("../../img/icons/star-0.png") !important; }

.featured-recipes-home .stars-snippet .p-w-r {
  margin-left: 0;
  width: 100%; }

.featured-recipes-home .stars-snippet .pr-snippet {
  position: relative;
  text-align: left; }
  .featured-recipes-home .stars-snippet .pr-snippet .pr-snippet-stars {
    align-items: flex-start;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end; }
    .featured-recipes-home .stars-snippet .pr-snippet .pr-snippet-stars .pr-rating-stars {
      margin-left: .5rem; }
    .featured-recipes-home .stars-snippet .pr-snippet .pr-snippet-stars .pr-snippet-rating-decimal {
      font-size: 54px;
      height: auto;
      line-height: 54px;
      padding-left: 0; }
  .featured-recipes-home .stars-snippet .pr-snippet .pr-snippet-read-and-write {
    left: 82px;
    position: absolute;
    top: 23px; }
    .featured-recipes-home .stars-snippet .pr-snippet .pr-snippet-read-and-write a {
      color: #20c1dc;
      font-family: 'vagroundedstd-bold';
      font-size: 16px; }

.featured-recipes-home .cont-review-display .pr-rd-no-reviews {
  display: none; }

.info-product .p-w-r .pr-snippet .pr-snippet-stars-png {
  align-items: center;
  background-color: transparent !important;
  display: flex !important;
  flex-direction: row;
  justify-content: center; }
  .info-product .p-w-r .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
    border: 0;
    color: #20c1dc;
    font-family: 'vagroundedstd-bold';
    font-size: 16px !important;
    height: 0 !important;
    line-height: 7px; }

.p-w-r {
  text-align: center !important; }
  .p-w-r [class*='pr-category-snippet__total'] {
    color: #20c1dc;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold; }
  .p-w-r .pr-review-snapshot {
    background-color: transparent !important; }
    .p-w-r .pr-review-snapshot [class^='pr-ratings-histogram-bar'] {
      height: 10px !important; }
    .p-w-r .pr-review-snapshot .pr-review-snapshot-block-histogram {
      border: 0 !important;
      min-height: 100% !important;
      width: 100% !important; }
      .p-w-r .pr-review-snapshot .pr-review-snapshot-block-histogram .pr-review-snapshot-block-headline {
        display: none; }
    .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-ratings-histogram-bar {
      background-color: rgba(32, 193, 220, 0.15) !important; }
      .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-ratings-histogram-bar .pr-ratings-histogram-barValue {
        background-color: #20c1dc; }
    .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-histogram-label {
      color: #4a4a4a !important;
      font-family: 'vagroundedstd-light';
      letter-spacing: .92px;
      line-height: 23px;
      padding-left: 0 !important; }
  .p-w-r .pr-snippet-stars {
    background-color: transparent !important; }
  .p-w-r .pr-snippet {
    text-align: center; }
    .p-w-r .pr-snippet .pr-snippet-stars-png {
      align-items: center;
      background-color: transparent !important;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .p-w-r .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
        border: 0;
        color: #20c1dc;
        font-family: 'vagroundedstd-bold';
        font-size: 16px;
        height: 0;
        line-height: 7px; }
    .p-w-r .pr-snippet .pr-snippet-read-and-write {
      margin-top: 0 !important; }
      .p-w-r .pr-snippet .pr-snippet-read-and-write a {
        color: #7d7d7d; }
  .p-w-r .pr-rd-main-footer .pr-rd-content-block {
    align-items: center;
    display: flex;
    justify-content: space-between; }
  .p-w-r .pr-rd-main-footer a,
  .p-w-r .pr-rd-main-footer button {
    color: #20c1dc !important;
    font-family: 'vagroundedstd-bold';
    font-size: 16px;
    line-height: 17px !important;
    text-decoration: underline; }
  .p-w-r .pr-rd-main-footer .pr-rd-pagination {
    border: none !important;
    line-height: normal;
    margin: 0 !important;
    padding: 0 !important; }

.single .p-w-r .pr-snippet {
  margin: 0 auto 0 0;
  text-align: left !important; }

.single .p-w-r .cont-write-review a {
  font-family: 'vagroundedstd-bold';
  font-size: 16px; }

.single .cont-write-review a + a {
  display: none; }

.single-products .p-w-r .pr-snippet {
  text-align: center !important; }

.cont-review-display .pr-snapshot-mobile {
  display: none; }

.cont-review-display .pr-review-display {
  background-color: transparent !important; }
  .cont-review-display .pr-review-display .pr-rd-main-header {
    display: none; }
  .cont-review-display .pr-review-display .pr-rd-footer {
    background-color: transparent !important; }
  .cont-review-display .pr-review-display article.pr-review * {
    color: #000 !important;
    font-family: 'vagroundedstd-light' !important;
    font-size: 16px !important; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-header {
    margin-bottom: 0 !important; }
    .cont-review-display .pr-review-display article.pr-review .pr-rd-header h2 {
      font-family: 'vagroundedstd-bold' !important;
      font-size: 18px !important; }
  .cont-review-display .pr-review-display article.pr-review button span {
    color: #b3d82b;
    letter-spacing: 1.2px;
    text-transform: uppercase; }
  .cont-review-display .pr-review-display article.pr-review button .pr-caret-icon {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-star-rating {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-author-submission-date,
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-author-location {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-reviewer-details .pr-rd-author-nickname {
    color: #b3d82b; }
    .cont-review-display .pr-review-display article.pr-review .pr-rd-description .pr-rd-reviewer-details .pr-rd-author-nickname span {
      color: #b3d82b; }
  .cont-review-display .pr-review-display article.pr-review footer.pr-rd-footer {
    display: none; }
  .cont-review-display .pr-review-display article.pr-review + .pr-review {
    border-top: 2px solid #20c1dc;
    padding-top: 1rem; }

.stars-snippet .pr-snippet-stars-reco-reco,
.stars-snippet .pr-snippet-write-review-link {
  display: none; }

.stars-snippet.category-page .p-w-r {
  margin: 0; }
  .stars-snippet.category-page .p-w-r .pr-snippet-write-review-link {
    color: #20c1dc;
    font-family: 'Poppins', sans-serif;
    font-size: 16px !important;
    font-weight: bold;
    line-height: 17px; }

.stars-snippet.category-page .pr-snippet-review-count {
  display: none; }

.stars-snippet.category-page .pr-snippet-write-review-link {
  display: block; }

.cont-write-review {
  margin: 2rem 0;
  text-align: left; }
  .cont-write-review .p-w-r .pr-war {
    max-width: 100%; }
  .cont-write-review .btn-write-review {
    padding: 1rem 3rem; }
  .cont-write-review div[type='submit'] {
    align-items: center;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #b3d82b;
    border: 0;
    border-radius: 25px;
    color: #fff;
    display: flex;
    font-family: 'vagroundedstd-bold';
    font-size: 14px;
    height: 50px;
    justify-content: center;
    letter-spacing: 1px;
    min-width: 130px;
    padding: 1rem 3rem;
    text-align: center;
    text-transform: uppercase; }
    .cont-write-review div[type='submit']:hover {
      background-color: #98b822;
      color: #fff; }

@media (max-width: 768px) {
  .p-w-r .pr-snippet {
    text-align: center; } }
