
// #############################
// Barlow
// #############################

@font-face {
	font-family: 'barlow-bold';
	font-style: normal;
	font-weight: bold;
	src: url('../../../assets/fonts/barlow/barlow-bold.woff2') format('woff2'), url('../../../assets/fonts/barlow/barlow-bold.woff') format('woff');
}

@font-face {
	font-family: 'barlow-regular';
	font-style: normal;
	font-weight: normal;
	src: url('../../../assets/fonts/barlow/barlow-regular.woff2') format('woff2'), url('../../../assets/fonts/barlow/barlow-regular.woff') format('woff');
}

// #############################
// vagrounded
// #############################


@font-face {
	font-family: 'vagroundedstd-bold';
	src: url('../../../assets/fonts/vagrounded/vagroundedstd-bold.woff2') format('woff2'), url('../../../assets/fonts/vagrounded/vagroundedstd-bold.woff') format('woff');
}

@font-face {
	font-family: 'vagroundedstd-light';
	src: url('../../../assets/fonts/vagrounded/vagroundedstd-light.woff2') format('woff2'), url('../../../assets/fonts/vagrounded/vagroundedstd-light.woff') format('woff');
}
