// #############################
// Colors
// #############################

// Basic -----------------------

$color-dark:			#000; // Dark
$color-light:			#fff; 	 // White
$color-main:			#20c1dc; // Blue
$color-main-hover: 		#0cd3f5; // Light Blue Hover
$color-green-light:		#ebf5cc; // Green Light
$color-secondary:		#b3d82b; // Green
$color-main-dark:		#148aa9;
$color-gray: 			#f6f6f6; // Gray
$color-reviews: 		#ffa400;
$color-error: 			#f00;
$color-red:				#ea212d;
$color-alert:			#cb4e44;
$white-transparent:     rgba(255, 255, 255, .7);
$color-blue-dark: 		#019ebf;
$color-brown-dark:		#dcc098;

// Complementaries -------------

$color-cards: 			#d7d1cb;
$color-cards-hover: 	#dcd3cc;
$header-cards: 			#fbdc00;


// Grayscale -------------------
$color-grayscale: 		#f4f4f4;
$color-grayscale-1: 	#e9e2dd;
$color-grayscale-2: 	#545454;
$color-grayscale-3: 	#fafafa;
$color-grayscale-4: 	#bfbebe;
$color-grayscale-5:		#ebe9e6;
$color-grayscale-6:		#7d7d7d;
$color-grayscale-7:		#9b9b9b;
$color-grayscale-8:		#f1f1f1;
$color-dark-secondary:	#343434;
$color-grayscale-9:		#b4afaa;
$color-text-faqs:		#9a938c;
$color-widget:			#141723;
$color-site-info:		#4a4a4a;

// Array ----------------

$colors-featured: 		#93d500, #ff7d3c, #522d6d;

// Menu Mobile ----------
$menu-shadow: 	rgba(0, 0, 0, .2);
$menu-input-bg: rgba(77, 126, 77, .7);
$menu-lang: 	rgba(0, 0, 0, .5);

// Shadows and rgba ---------------------
$header-shadow: 				0 2px 6px 0 rgba(0, 0, 0, .2);
$cards-shadow: 					4px 4px 8px 0 rgba(0, 0, 0, .5);
$white-transparent: 			rgba(255, 255, 255, .7);
$white-opacity: 				rgba(255, 255, 255, .8);
$color-main-transparent: 		rgba(137, 211, 229, .2);
$hover-transparent:				rgba(8, 91, 162, .5);
$black-transparent: 			rgba(0, 0, 0, .8);
$bg-inputs: 					rgba(242, 242, 242, .5);

$black-transparent2: 			rgba(0, 0, 0, .4);
$red-transparent: 				rgba(220, 30, 53, .9);
$error-transparent:				rgba(255, 0, 0, .14);
$yellow-transparent: 			rgba(251, 220, 0, .8);
$green-transparent:				rgba(215, 235, 153, .3);
$green-transparent2:			rgba(179, 216, 43, .2);

// filter gradient
$filter-middle:					rgba(64, 64, 64, 0);

$input-search:					rgba(255, 255, 255, .44);


@mixin herd-button {
	background-color: $color-main !important;
	border-radius: 0;
	color: $color-light;
	font-family: 'vagroundedstd-bold' !important;
	letter-spacing: 2pt;
	line-height: 22pt !important;
	text-transform: uppercase;

	&:hover {
		background-color: darken($color-main, 8%) !important;
		color: $color-light;
	}
}

@mixin bg-texture {
	background-image: url('../../../img/featured-recipes-texture-bg.png');
	background-position: center;
	background-size: contain;
}

@mixin btn-main {
	background-color: $color-secondary;
	border-radius: 100px;
	color: $color-light;
	font-family: 'vagroundedstd-bold';
	font-size: 18px;
	line-height: 22px;
	min-width: 190px;
	padding: .813rem 1rem;

	&:hover {
		background-color: darken($color-secondary, 8%);
		color: $color-light;
		text-decoration: none;
	}
}

@mixin btn-secondary {
	background-color: $color-red;
	border-radius: 100px;
	color: $color-light;
	font-size: 18px;
	min-width: 190px;
	padding: 1.16rem 1rem;

	&:hover {
		background-color: darken($color-red, 8%);
		color: $color-light;
		text-decoration: none;
	}
}

@mixin vict-button {
	align-items: center;
	background-color: $color-main;
	border: 0;
	border-radius: 25px;
	color: $color-light;
	display: flex;
	font-family: 'vagroundedstd-bold';
	font-size: 14px;
	height: 50px;
	justify-content: center;
	letter-spacing: 1px;
	min-width: 130px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;

	&:hover {
		background-color: darken($color-main, 8%);
		color: $color-light;
	}
}

@mixin media-ie-landscape {
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)  {
		@content;
	}
}
