// #############################
// Boostrap
// #############################

@import '../plugins/bootstrap/scss/functions';
@import '../plugins/bootstrap/scss/variables';
@import '../plugins/bootstrap/scss/mixins';
@import '../plugins/bootstrap/scss/root';
@import '../plugins/bootstrap/scss/reboot';
@import '../plugins/bootstrap/scss/type';
@import '../plugins/bootstrap/scss/images';
@import '../plugins/bootstrap/scss/code';
@import '../plugins/bootstrap/scss/grid';
@import '../plugins/bootstrap/scss/tables';
@import '../plugins/bootstrap/scss/forms';
@import '../plugins/bootstrap/scss/buttons';
@import '../plugins/bootstrap/scss/transitions';
@import '../plugins/bootstrap/scss/dropdown';
@import '../plugins/bootstrap/scss/button-group';
@import '../plugins/bootstrap/scss/input-group';
@import '../plugins/bootstrap/scss/custom-forms';
@import '../plugins/bootstrap/scss/nav';
@import '../plugins/bootstrap/scss/navbar';
@import '../plugins/bootstrap/scss/card';
@import '../plugins/bootstrap/scss/breadcrumb';
@import '../plugins/bootstrap/scss/pagination';
@import '../plugins/bootstrap/scss/badge';
@import '../plugins/bootstrap/scss/jumbotron';
@import '../plugins/bootstrap/scss/alert';
@import '../plugins/bootstrap/scss/progress';
@import '../plugins/bootstrap/scss/media';
@import '../plugins/bootstrap/scss/list-group';
@import '../plugins/bootstrap/scss/close';
@import '../plugins/bootstrap/scss/modal';
@import '../plugins/bootstrap/scss/tooltip';
@import '../plugins/bootstrap/scss/popover';
@import '../plugins/bootstrap/scss/carousel';
@import '../plugins/bootstrap/scss/utilities';
@import '../plugins/bootstrap/scss/print';

@import 'mixins';
@import 'fonts';

h1,
h2,
h3,
h4,
h5 {
	font-family: 'vagroundedstd-bold';
}

h1 {
	font-size: 48pt;
	line-height: 52pt;
}

h2 {
	font-size: 28pt;
	line-height: 38pt;
}

h3 {
	font-size: 22pt;
	line-height: 24pt;
}

h4 {
	font-size: 18pt;
	line-height: 20pt;
}

h5 {
	font-size: 16pt;
	letter-spacing: 1pt;
	line-height: 20pt;
	text-transform: uppercase;
}

body,
p,
span {
	font-family: 'vagroundedstd-light';
	font-size: 16pt;
	line-height: 24pt;
}

label {
	font-family: 'vagroundedstd-bold';
	font-size: 16pt;
	line-height: 24pt;
}


@keyframes zoominoutsinglefeatured {
	0% {
		transform: scale(.3, .3);
	}

	50% {
		transform: scale(.31, .31);
	}

	100% {
		transform: scale(.3, .3);
	}
}

.loader {
	background: $color-main-dark;
	height: 100%;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;

	img {
		animation: zoominoutsinglefeatured 1.5s infinite ;
		bottom: 0;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 60%;
	}
}

ul {
	li {
		a {
			color: $color-grayscale-7;
			font-family: 'vagroundedstd-light';
			font-size: 11pt;
			line-height: 20pt;

			&:hover {
				background-color: transparent;
				color: $color-main-hover;
			}
		}
	}

	&.flex-column {
		li {
			a {
				padding: 0;
			}
		}
	}
}

input {
	&[type='date'] {
		&::before {
			color: $color-grayscale-7;
			content: attr(placeholder)': ' !important;
			margin-right: .5em;
		}

		&:focus,
		&:valid {
			&::before {
				content: '';
			}
		}
	}

	&[type='number'] {
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none; 
			margin: 0;
		}
	}
}


.wpcf7-form-control-wrap {
	.wpcf7-not-valid-tip {
		background-color: $color-alert;
		border-radius: 1px 0 5px 5px;
		color: $color-light;
		font-size: 13px;
		line-height: normal;
		margin: -16px 0 15px !important;
		padding: 5px 0 5px 13px;
	}
}

.drow-single-leng {
	border-radius: 0 0 15px 15px;
	box-shadow: 0 2px 4px 0 $menu-lang;
	left: -130px;
	text-align: center !important;
	top: 39px;
	width: 190px !important;
}

.drow-single-leng {
	.dropdown-item {
		display: block;
		width: 100%;
		padding: 0;
		margin: -11px auto;
		clear: both;
		font-weight: 400;
		color: #212529;
		text-align: inherit;
		white-space: nowrap;
		background-color: transparent;
		border: 0;
		font-size: 12px;
		color: #9b9b9b;

		&:hover {
			color: #20c1dc !important;
		}
	}
}

.btn-main {
	@include btn-main;
}

.cont-button {
	.btn-second {
		@include media-breakpoint-down(md) {
			min-width: 70%;
		}
	}
}

.btn-second {
	@include media-breakpoint-down(md) {
		min-width: 100%;
	}

	@include btn-secondary;
	font-family: 'vagroundedstd-bold';
	font-size: 28px;
	line-height: 41px;
	min-width: 300px;
}

.text-under-banner {
	h2 {
		font-size: 48px;
	}

	p {
		font-size: 16px;
		letter-spacing: -.1px;
		line-height: 24px;
	}
}

.owl-theme {
	.owl-dots {
		.owl-dot {
			&.active {
				span {
					background-color: $color-main;
				}
			}

			span {
				background-color: $color-secondary;
				border: 0;
			}
		}
	}
}

.back-top {
	bottom: 50%;
	box-shadow: 0 0 20px -5px $black-transparent2;
	display: none;
	position: fixed;
	right: 0;
	width: 90px;
	z-index: 999;

	figure {
		margin-bottom: 0;
	}

	&:hover {
		cursor: pointer;
	}
}

.navbar-expand-md {
	.navbar-nav {
		align-items: flex-end;
		justify-content: flex-start;
		width: 100%;

		li {
			margin: 0 15px;
		}
	}
}

// categories filter
.left-filters {
	@include media-breakpoint-between(md, lg) {
		padding: 3rem 1rem 3rem 2rem;
	}

	padding: 3rem 1rem 3rem 7rem;

	h5 {
		color: $color-main;
		font-size: 28px;
		letter-spacing: normal;
		line-height: 46px;
		text-transform: capitalize;
	}

	.cont-options {
		.sf-field-category {
			> ul {
				> li {
					&:first-child {
						display: none;
					}

					+ li {
						@include media-breakpoint-down(md) {
							border-top: 1px solid $color-main;
						}
					}

					> label {
						padding: 0;
						position: relative;
						width: 100%;

						@include media-breakpoint-down(md) {
							&::after {
								color: $color-main;
								content: '\f078';
								font-family: 'Font Awesome 5 Free';
								font-size: 14px;
								font-weight: 900;
								position: absolute;
								right: 1rem;
							}

							&.active {
								&::after {
									content: '\f077';
								}
							}
						}
					}
				}
			}
		}

		ul {
			padding-left: 0;
			width: 100%;

			> li {
				color: $color-dark;
				width: 100%;

				&.all-categories {
					display: none;
				}

				&.sf-field-reset {
					@include media-breakpoint-down(md) {
						justify-content: left;
					}

					display: flex;

					a {
						background-color: $color-secondary;
						border-radius: 100px;
						color: $color-light;
						font-family: 'vagroundedstd-bold';
						font-size: 12px;
						font-weight: 300;
						letter-spacing: 1.2px;
						padding: .75rem 3.25rem;
						text-align: center;
						text-transform: uppercase;
						transition: border-radius .51s;

						&:hover {
							background-color: darken($color-secondary, 8%);
							color: $color-light;
						}
					}
				}

				> label {
					@include media-breakpoint-down(md) {
						color: $color-dark;
						font-family: 'vagroundedstd-bold';
						font-size: 17px;
						letter-spacing: .71px;
						line-height: 34px;
						text-transform: none;
					}

					font-family: 'vagroundedstd-bold';
					font-size: 13px;
					font-weight: bold;
					letter-spacing: normal;
				}
			}

			&.children {
				@include media-breakpoint-down(md) {
					display: none;
					margin-bottom: 1rem;
				}

				margin-left: 0;

				> li {
					@include media-breakpoint-down(md) {
						padding: 0;
					}

					align-items: center;
					display: flex;

					> label {
						font-size: 16px;
						font-weight: 200;
						letter-spacing: normal;
						line-height: 26px;
						text-transform: unset;

						&:hover {
							cursor: pointer;
						}
					}
				}
			}
		}

		input {
			&[type='submit'] {
				@include btn-main;
			}
		}
	}

	.cont-options {
		ul {
			padding-left: 0;

			> li {
				> label {
					@include media-breakpoint-down(md) {
						font-size: 18px;
					}

					font-family: 'vagroundedstd-light';
					font-size: 16px;
					margin-bottom: 0;
					padding: 0 0 0 20px;
				}
			}

			&.children {
				margin-bottom: 1rem;

				li {
					padding: 0;
				}
			}
		}

		.sf-field-category {
			> ul {
				> li {
					> input {
						&[type='checkbox'] {
							display: none;
						}
					}

					> label {
						font-family: 'vagroundedstd-bold';
					}
				}
			}
		}
	}
}

.right-recipes {
	border-left: 2px solid $color-grayscale-1;
	margin-top: 3rem;
}

.nav-filters {
	ul {
		&.parent-list {
			width: 100%;

			> li {
				&:last-child {
					margin: 2rem 0 0;
					text-align: center;
				}

				&:first-child {
					> ul {
						&:first-child {
							> li {
								@include media-breakpoint-up(lg) {
									border-bottom: 0;	
								}

								border-bottom: 1px solid $color-main;
								padding: 0;

								> label {
									font-family: 'vagroundedstd-bold';
									font-size: 18px;
									padding: 0 10px;
									position: relative;
									text-transform: capitalize;

									&:hover {
										cursor: pointer;
									}

									input {
										&[type='checkbox'] {
											display: none;
										}
									}
								}
							}
						}
					}
				}

				input {
					&[type='submit'] {
						display: none;
					}
				}
			}

			label {
				input {
					&[type='checkbox'] {
						margin-right: 5px;
					}
				}
			}
		}
	}

	.cat-item {
		display: block;

		&.all-categories,
		&.uncategorized {
			display: none;
		}
	}
}

.site-header {

	align-items: center;
	background-color: $color-light;
	background-image: url('../../img/skippy_website_header_pattern.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	display: flex !important;
	min-height: 60px;
	position: relative;
	z-index: 3;
	
	.search-open-menu {
		i {
			font-size: 22px;
		}
	}

	.nav-info {
		padding: 0;
	}

	&.navbar-light {
		.navbar-nav {
			@include media-breakpoint-down(md) {
				text-align: center;
			}

			> .nav-item {

				position: relative;

				&::after {
					border-bottom: 5px solid $color-secondary;
					bottom: 0;
					content: '';
					display: block;
					left: 0;
					position: absolute;
					right: 0;
					transform: scaleX(0);
					transition: transform 250ms ease-in-out;
				}

				&:hover {
					&::after {
						transform: scaleX(1);
					}
				}

				&.active {
					a {
						color: $color-light;
					}

					&::after {
						transform: scaleX(1);
					}
				}

				.dropdown-menu {
					background-color: $white-opacity;
					border: 0;
					border-radius: 0;
					left: -2.4rem;
					margin-top: 1.2rem;
					text-align: center;

					li {
						a {
							font-family: 'vagroundedstd-bold';
							font-size: 14px;
						}
					}
				}

				.caret {
					display: none;
				}
			}

			.nav-link {
				color: $color-light;
				font-family: 'vagroundedstd-bold';
				font-size: 20px;
				letter-spacing: .8px;
				text-align: center;

				&::after {
					content: none;
				}

				&:hover,
				&:focus {
					color: $color-light;
				}
			}
		}
	}

	.navbar-brand {
		@include media-breakpoint-up(lg) {
			display: block;
			height: 100%;
			padding: 0;
			position: relative;
		}

		@include media-breakpoint-down(md) {
			padding: 0;
		}

		display: block;
		margin: 0 auto;

		a {
			display: block;
		}

		img {
			display: block;
			margin: auto;
			width: 89px;
		}
	}

	.navbar-toggler {
		@include media-breakpoint-down(md) {
			border: 0;
			display: block;
			margin: 5px auto 15px;
		}
	}

	.search-form {
		@include media-breakpoint-down(md) {
			margin: 5px 0 10px;
		}

		margin-left: 1rem;
		position: relative;

		&.active {
			.search-field {
				border: 1px solid $color-dark;
				padding: 3px 10px 3px 30px;
				width: 150px;
			}
		}

		.input-search {
			background-color: $input-search;
			border: 0;
			border-radius: 20px;
			color: $color-light;
			font-size: 18px;
			padding: 0 0 0 15px;
			width: 100%;

			&:focus {
				outline: none;
			}
		}

		.search-submit {
			@include media-ie-landscape {
				top: 0;
			}

			position: absolute;
			right: 0;
		}
	}

	.form-control {
		@include media-breakpoint-down(md) {
			padding: 10px 20px;
		}

		border: 0;
		border-radius: 20px;
		color: $color-dark;
		padding: 0;
		position: absolute;
		transition: ease .3s;
		width: 0;

		&:focus {
			border: 1px solid $color-dark;
			box-shadow: none;
			color: $color-dark;
		}
	}

	.search-submit {
		background-color: transparent;
		border: 0;
		color: $color-light;
		padding: 0 10px;

		&:focus {
			box-shadow: none;
		}
	}

	.global-icon {
		align-items: center;
		display: flex;
		margin: 0;
	}

	.hamburger-menu {
		-webkit-appearance: none;
		background-color: transparent;
		border: 0;
		color: $color-light;
	}
}

// home
section {
	&.title {
		padding: 6rem 0 4rem;

		h1 {
			@include media-breakpoint-down(sm) {
				line-height: 48px;
			}

			color: $color-main;
			font-family: 'vagroundedstd-bold';
			font-size: 42px;
			letter-spacing: .03px;
			line-height: 36px;
			margin-bottom: 0;
			text-align: center;
			text-transform: uppercase;

			sup {
				font-size: 27px;
			}
		}
	}
}

.products-home,
.featured-recipes-home {
	h2 {
		color: $color-dark;
		font-size: 32px;
	}

	h3 {
		color: $color-dark;
		font-family: 'vagroundedstd-bold';
		font-size: 28px;
		letter-spacing: 1.17px;
		margin: 0;
		text-align: center;

		a {
			color: inherit;
		}
	}

	p {
		color: $color-dark;
		font-family: 'vagroundedstd-bold';
		font-size: 22px;
		letter-spacing: .03px;
		line-height: 28px;
		margin: 1rem 0 0;
	}
}

.news {
	padding: 50px 0;
	width: 100%;

	h3 {
		background-color: $color-light;
		color: $color-dark;
		display: inline-block;
		font-size: 26px;
		margin: 0;
		padding: 10px 3rem;
		text-align: center;
	}
}

.page-template-default {
	.site-main {
		header {
			background: none;
		}

		h1 {
			font-size: 45px;
			margin: 20px auto;
		}
	}
}

// Footer
footer {
	margin-top: 6rem;

	a {
		display: block;
	}

	figure {
		margin: 0;
		padding: 0;
	}

	.top-footer {
		a {
			background-color: $color-grayscale-8;
			border-radius: 60px 60px 0 0;
			padding: 20px 0;
			transition: all .2s ease-in-out;

			&:hover {
				text-decoration: none;
				transform: scale(1.1);
			}

			.info-content {
				align-items: center;
				display: flex;
				justify-content: center;
			}

			p {
				color: $color-main-dark;
				font-family: 'vagroundedstd-bold';
				font-size: 28px;
				line-height: 46px;
				margin: 0;
			}

			figure {
				margin: 0 20px 0 0;
			}

			img {
				height: 68px;
				max-width: 68px;
				width: 68px;
			}
		}
	}

	.footer-banner {
		background-color: $color-main;
		color: $color-light;
		margin: 0 0 40px;
		padding: .201rem 0;
		position: relative;
	}

	.url-description {
		div {
			font-family: 'vagroundedstd-bold';
			font-size: 28px;
			line-height: 41px;
		}
	}

	.widget-title {
		color: $color-widget;
		font-family: 'vagroundedstd-bold';
		font-size: 22px;
	}

	.footer-widget {
		.nav-link,
		.widget_newsletterwidget {
			color: $color-grayscale-7;
			font-family: 'vagroundedstd-light';
			font-size: 18px;
			line-height: 1.72;

			.tnp-email {
				background-color: $green-transparent2;
				border: 2px solid $color-secondary;
				border-radius: 100px;

				&:focus {
					outline: none;
				}
			}

			.tnp-email,
			.tnp-submit {
				padding: 15px;
			}

			.tnp-submit {
				border-radius: 100px;

				&:focus {
					outline: none;
				}
			}

			input[type='submit'] {
				background-color: $color-secondary;
				font-family: 'vagroundedstd-bold';
				font-size: 18px;
			}
		}
	}

	.social-links-section {
		position: relative;

		&::before {
			background-color: $color-main;
			content: '';
			height: 100%;
			position: absolute;
			right: 10px;
			top: 0;
			width: 2px;
		}
	}

	.social-links-content {
		ul {

			@include media-breakpoint-down(sm) {
				justify-content: center;
			}

			display: flex;
			list-style: none;
			padding: 0;

			li {
				margin: 0 5px 0 0;
			}

			img {
				width: 36px;
			}
		}
	}

	.smart-label {

		@include media-breakpoint-down(sm) {
			margin: 0 auto;
		}

		max-width: 160px;
	}

	.site-info {
		color: $color-site-info;
		font-family: 'vagroundedstd-light';
		font-size: 12px;
		letter-spacing: .9px;

		.widgettitle {
			display: none;
		}

		a {
			@include media-breakpoint-down(sm) {
				display: inline;
			}

			color: inherit;
		}
	}

	.cont-main-footer {
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}
}

.menu-footer-copyright-container {
	ul {
		@include media-breakpoint-down(sm) {
			justify-content: center;
		}

		flex-direction: row !important;

		li:first-child {
			@include media-breakpoint-down(sm) {
				border-left: 0;
			}

			border-left: 1px solid;
			border-right: 1px solid;
			margin: 0 10px;
			padding: 0 10px;
		}
	}

	li {
		> a {
			@include media-breakpoint-down(sm) {
				display: flex;
			}

			font-size: 12px;
			font-weight: normal;
			line-height: 1.3;
			padding: 0;

			&:hover {
				background-color: transparent;
				text-decoration: underline;
			}
		}
	}
}

.error404 {

	.page-header {
		background: none;

		.page-title {
			font-size: 45px;
			margin: 40px auto;
		}
	}
}

.cont-popup-video {
	text-align: center;
}

.modal-video {

	.modal-header,
	.modal-footer {
		border: 0;
	}

	.btn-modal-close {
		background-color: $color-main;
		color: $color-light;
	}
}

@media (max-width: 1200px) {
	.navbar-expand-md {
		.navbar-nav {
			flex-direction: row;

			li {
				margin: 5px;
			}

			.nav-link {
				font-size: 18px;
				padding: 0;
			}
		}
	}
}

@media (max-width: 992px) {
	header {
		.navbar-toggler {
			margin: 10px auto;
		}
	}

	.navbar-custom {
		&:focus {
			outline: none;
		}
	}

	.navbar-light {

		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
		}
	}

	.main-nav-custom {
		position: absolute;
		right: 15px;
		width: 100%;
	}

	footer {

		.top-footer {

			a {
				.info-content {
					flex-direction: column;
				}

				figure {
					margin: 0 0 10px;
				}

				p {
					font-size: 24px;
				}
			}
		}

		.url-site,
		.url-description {
			margin: 10px 0;
			text-align: center;
		}

		.social-links-section {

			&::before {
				display: none;
			}
		}
	}

	.cont-popup-video {
		iframe {
			width: 100% !important;
		}
	}
}

// navigation
.cont-mobile-menu {
	background-color: $color-gray;
	box-shadow: 1px 0 40px -7px $menu-shadow;
	height: 100%;
	left: 0;
	overflow-x: visible;
	padding: 0;
	position: fixed;
	top: 0;
	transform: translate(-680px, 0);
	width: 75vw;
	z-index: 102;

	.mobile-logo {
		figure {
			margin: 1rem 0;
		}

		a {
			padding-top: 7rem;
		}
	}

	.btn-close-menu-mobile {
		position: absolute;
		right: 0;
		top: 1rem;
		transition: all .3s ease-in-out;
	}

	.menu-scroll {
		height: 77vh;
		overflow-x: scroll;
	}

	.navbar-nav {
		li {
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;

			a {
				color: $color-main;
				font-family: 'vagroundedstd-bold';
				font-size: 22px;
				padding: 10px 0;
				text-align: center;
				text-transform: capitalize;
			}
		}
	}

	.search-form {
		margin-top: 2rem;

		input {
			background-color: $color-main-transparent;
			border: 0;
			border-radius: 100px;
			color: $color-light;
			font-size: 18px;
			padding: 0 0 0 14px;
			width: 100%;
		}

		.search-submit {
			background-color: transparent;
			color: $color-light;
			right: 23px;
			position: absolute;
		}

		.input-group-append {
			display: none;
		}
	}

	hr {
		border-color: $color-main;
		margin: 2rem -15px;
	}

	.visible-filters {
		display: none;
	}
}

.overlay-custom {
	background: $white-opacity;
	display: block;
	height: 100vh;
	position: fixed;
	top: 0;
	transition: all .5s ease-in-out;
	width: 100vw;
	z-index: 70;
}

// overlay layer
.ssm-overlay {
	background-color: $white-transparent;
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 101;
}

// prevent scroll when nav is open
.is-navOpen {
	overflow: hidden;

	.btn-close-menu-mobile {
		right: -5rem;
		transition: all .3s ease-in-out;
	}
}

.newsletter {
	padding: 100px 0 20px;
	text-align: center;

	.fa-check-circle {
		color: $color-main;
		font-size: 67px;
		margin-bottom: 14px;
	}

	h2 {
		color: $color-main;
	}
}

.newsletter-error {
	input {
		background-color: $error-transparent;
		border: 1px solid $color-error;
	}

	.newsletter-error {
		color: $color-error;
		font-size: 14px;
		line-height: 1;
		margin: 0;
	}
}

// informative pages

.single-page {
	ul {
		li {
			a {
				color: $color-main;
				font-size: 22px;
			}
		}
	}

	a {
		color: $color-main;
	}
}

@media (min-width: 1440px) {
	header {
		background-size: cover;
	}
}

@media (max-width: 767px) {
	header {
		&.main-header {
			position: sticky;
			top: 0;
			z-index: 100;
		}

		&.navbar-light {
			.navbar-nav {
				.nav-link {
					font-size: 17px;
					padding: 0;

					&:hover {
						color: $color-light;
					}
				}
			}
		}

		.nav-info {
			justify-content: end;
		}
	}

	footer {
		.top-footer {
			a {
				p {
					font-size: 20px;
				}
			}
		}

		.nav-middle {
			margin: 40px 0;
		}
	}

	//EDS MENU
	.eds-toggle-icon {
		background-color: transparent !important;
		top: 8px !important;
	}

	#simple-menu.eds-toggle-icon,
	.eds-responsive-menu-wrp.sidr {
		display: block !important;
	}

	.eds-responsive-menu-wrp {
		background-color: $color-light !important;
		box-shadow: 5px 0 10px 10px $menu-shadow !important;

		.eds_logo {
			margin: 20px auto;
			max-width: 80%;
		}

		.menu-item {
			a {
				background-color: transparent !important;
				border: 0;
				color: $color-main !important;
				font-family: 'vagroundedstd-bold';
				font-size: 20px;
				padding: 12px 0;
				text-align: center;

				&:hover {
					background: none;
					color: $color-dark;
				}
			}
		}

		.eds-responsive-menu {
			margin: 30px auto 0;
		}

		input {
			background: $bg-inputs;
			border: 0;
			border-radius: 4px;
			padding: 5px 10px !important;

			&:focus {
				outline: none;
			}
		}
	}
}

@media (max-width: 576px) {
	header {
		&.navbar-light {
			.navbar-nav {
				align-items: center;
				padding: 10px 0;

				.nav-link {
					font-size: 17px;
					padding: 0;

					&:hover {
						color: $color-light;
					}
				}
			}
		}

		.drow-single-leng {
			left: initial;
			right: 0;
			top: 39px;
			width: 132px !important;
		}

		.drow-single-leng {

			.dropdown-item {
				font-size: 10px;
				margin: -13px auto;
			}
		}

		.navbar-toggler {
			margin: 10px auto;
		}

		.global-icon {
			justify-content: center;
		}
	}

	.main-nav-custom {
		right: 0;
	}

	.content-custom {
		position: initial;
	}

	footer {
		.top-footer {
			a {
				background-color: inherit;

				p {
					font-size: 18px;
				}
			}
		}

		.nav-middle {
			margin: 40px 0;
		}
	}
}

@media (max-width: 414px) {

	footer {
		.top-footer {
			a {
				background-color: inherit;

				p {
					font-size: 12px;
				}
			}
		}
	}
}
