// vars
$color-grayscale-6:		#7d7d7d;
$color-grayscale-7:		#9b9b9b;
$color-grayscale-8:		#4a4a4a;
$color-light:			#fff; 	 // White
$color-dark:			#000; 	 // Black
$color-main:			#b3d82b; // Green
$color-reviews: 		#20c1dc;
$color-text-faqs:		#9a938c;

$color-bar: 			rgba(32, 193, 220, .15);


.pr-star-v4 {
	&.pr-star-v4-100-filled {
		background-image: url('../../img/icons/star-100.png') !important;
	}

	&.pr-star-v4-75-filled {
		background-image: url('../../img/icons/star-75.png') !important;
	}

	&.pr-star-v4-50-filled {
		background-image: url('../../img/icons/star-50.png') !important;
	}

	&.pr-star-v4-25-filled {
		background-image: url('../../img/icons/star-25.png') !important;
	}

	&.pr-star-v4-0-filled {
		background-image: url('../../img/icons/star-0.png') !important;
	}
}

.featured-recipes-home {
	.stars-snippet {
		.p-w-r {
			margin-left: 0;
			width: 100%;
		}

		.pr-snippet {
			position: relative;
			text-align: left;

			.pr-snippet-stars {
				align-items: flex-start;
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;

				.pr-rating-stars {
					margin-left: .5rem;
				}

				.pr-snippet-rating-decimal {
					font-size: 54px;
					height: auto;
					line-height: 54px;
					padding-left: 0;
				}
			}

			.pr-snippet-read-and-write {
				left: 82px;
				position: absolute;
				top: 23px;
				
				a {
					color: $color-reviews;
					font-family: 'vagroundedstd-bold';
					font-size: 16px;
				}
			}
		}
	}

	.cont-review-display {
		.pr-rd-no-reviews {
			display: none;
		}
	}
}

.info-product {
	.p-w-r {
		.pr-snippet {
			.pr-snippet-stars-png {
				align-items: center;
				background-color: transparent !important;
				display: flex !important;
				flex-direction: row;
				justify-content: center;

				.pr-snippet-rating-decimal {
					border: 0;
					color: $color-reviews;
					font-family: 'vagroundedstd-bold';
					font-size: 16px !important;
					height: 0 !important;
					line-height: 7px;
				}
			}
		}
	}
}

.p-w-r {
	text-align: center !important;

	[class*='pr-category-snippet__total'] {
		color: $color-reviews;
		font-family: 'Poppins', sans-serif;
		font-size: 16px;
		font-weight: bold;
	}

	.pr-review-snapshot {
		background-color: transparent !important;

		[class^='pr-ratings-histogram-bar'] {
			height: 10px !important;
		}

		.pr-review-snapshot-block-histogram {
			border: 0 !important;
			min-height: 100% !important;
			width: 100% !important;

			.pr-review-snapshot-block-headline {
				display: none;
			}
		}

		.pr-ratings-histogram {
			.pr-ratings-histogram-bar {
				background-color: $color-bar !important;

				.pr-ratings-histogram-barValue {
					background-color: $color-reviews;
				}
			}

			.pr-histogram-label {
				color: $color-grayscale-8 !important;
				font-family: 'vagroundedstd-light';
				letter-spacing: .92px;
				line-height: 23px;
				padding-left: 0 !important;
			}
		}
	}

	.pr-snippet-stars {
		background-color: transparent !important;
	}

	.pr-snippet {
		text-align: center;

		.pr-snippet-stars-png {
			align-items: center;
			background-color: transparent !important;
			display: flex;
			flex-direction: row;
			justify-content: center;

			.pr-snippet-rating-decimal {
				border: 0;
				color: $color-reviews;
				font-family: 'vagroundedstd-bold';
				font-size: 16px;
				height: 0;
				line-height: 7px;
			}
		}

		.pr-snippet-read-and-write {
			margin-top: 0 !important;

			a {
				color: $color-grayscale-6;
			}
		}
	}

	.pr-rd-main-footer {
		.pr-rd-content-block {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}

		a,
		button {
			color: $color-reviews !important;
			font-family: 'vagroundedstd-bold';
			font-size: 16px;
			line-height: 17px !important;
			text-decoration: underline;
		}

		.pr-rd-pagination {
			border: none !important;
			line-height: normal;
			margin: 0 !important;
			padding: 0 !important;
		}
	}
}

.single {
	.p-w-r {
		.pr-snippet {
			margin: 0 auto 0 0;
			text-align: left !important;
		}

		.cont-write-review {
			a {
				font-family: 'vagroundedstd-bold';
				font-size: 16px;
			}
		}
	}

	.cont-write-review {
		a {
			+ a {
				display: none;
			}
		}
	}
}

.single-products {
	.p-w-r {
		.pr-snippet {
			text-align: center !important;
		}
	}
}

.cont-review-display {
	.pr-snapshot-mobile {
		display: none;
	}

	.pr-review-display {
		background-color: transparent !important;

		.pr-rd-main-header {
			display: none;
		}

		.pr-rd-footer {
			background-color: transparent !important;
		}

		article {
			&.pr-review {
				* {
					color: $color-dark !important;
					font-family: 'vagroundedstd-light' !important;
					font-size: 16px !important;
				}

				.pr-rd-header {
					margin-bottom: 0 !important;

					h2 {
						font-family: 'vagroundedstd-bold' !important;
						font-size: 18px !important;
					}
				}

				button {
					span {
						color: $color-main;
						letter-spacing: 1.2px;
						text-transform: uppercase;
					}

					.pr-caret-icon {
						display: none;
					}
				}

				.pr-rd-star-rating {
					display: none;
				}

				.pr-rd-description {
					.pr-rd-author-submission-date,
					.pr-rd-author-location {
						display: none;
					}

					.pr-rd-reviewer-details {
						.pr-rd-author-nickname {
							color: $color-main;

							span {
								color: $color-main;
							}
						}
					}
				}

				footer {
					&.pr-rd-footer {
						display: none;
					}
				}

				+ .pr-review {
					border-top: 2px solid $color-reviews;
					padding-top: 1rem;
				}
			}
		}
	}
}

.stars-snippet {
	.pr-snippet-stars-reco-reco,
	.pr-snippet-write-review-link {
		display: none;
	}

	&.category-page {
		.p-w-r {
			margin: 0;

			.pr-snippet-write-review-link {
				color: $color-reviews;
				font-family: 'Poppins', sans-serif;
				font-size: 16px !important;
				font-weight: bold;
				line-height: 17px;
			}
		}

		.pr-snippet-review-count {
			display: none;
		}

		.pr-snippet-write-review-link {
			display: block;
		}
	}
}

.cont-write-review {
	margin: 2rem 0;
	text-align: left;

	.p-w-r {
		.pr-war {
			max-width: 100%;
		}
	}

	.btn-write-review {
		padding: 1rem 3rem;
	}

	div {
		&[type='submit'] {
			align-items: center;
			appearance: none;
			background-color: $color-main;
			border: 0;
			border-radius: 25px;
			color: $color-light;
			display: flex;
			font-family: 'vagroundedstd-bold';
			font-size: 14px;
			height: 50px;
			justify-content: center;
			letter-spacing: 1px;
			min-width: 130px;
			padding: 1rem 3rem;
			text-align: center;
			text-transform: uppercase;

			&:hover {
				background-color: darken($color-main, 8%);
				color: $color-light;
			}
		}
	}
}

@media (max-width: 768px) {
	.p-w-r {
		.pr-snippet {
			text-align: center;
		}
	}
}
