@import '../../plugins/bootstrap/scss/functions';
@import '../../plugins/bootstrap/scss/variables';
@import '../../plugins/bootstrap/scss/mixins';
@import '../mixins';

.contact-page {
	.bg-main {
		@include bg-texture;
		color: $color-dark;

		a {
			color: $color-main;

			&:hover {
				color: $color-main-hover;
			}
		}
	}

	span {
		&.title {
			font-family: 'vagroundedstd-bold' !important;
			font-size: 21px;
			letter-spacing: .9px;
		}
	}

	.text {
		margin-bottom: 50px;
	}

	h1 {
		color: $color-dark;
		font-family: 'vagroundedstd-bold';
		font-size: 38px;
		letter-spacing: 1.6px;
		line-height: normal;
		margin-bottom: 40px;
		margin-top: 40px;
		text-transform: uppercase;
	}

	h3 {
		color: $color-dark;
		font-family: 'vagroundedstd-bold';
		font-size: 24px;
		margin-bottom: 10px;
		margin-top: 40px;
	}

	p {
		font-size: 20px;
		line-height: 1.5;
	}

	.form-contact {
		margin-bottom: 7rem;
		margin-top: 30px;

		textarea {
			background-color: $bg-inputs;
			border: 0;
		}

		input {
			&[type='text'],
			&[type='number'],
			&[type='email'] {
				background-color: $bg-inputs;
				border: 0;
				height: 50px;
			}

			&[type='submit'] {
				border: 0;
				border-radius: 100px;
				font-family: 'vagroundedstd-bold' !important;
				height: 50px;
				letter-spacing: 0;
				line-height: 1.3 !important;
				margin-top: 2rem;
				padding: 12px 2rem;
			}
		}

		.form-control {
			border-radius: 1px;

			&::placeholder {
				color: $color-dark;
			}
		}

		br {
			display: none;
		}

		span {
			&.wpcf7-form-control-wrap {
				display: block;
				margin-bottom: 20px;
			}
		}

		.wpcf7-submit {
			border: 0;
			padding: 10px 30px;
		}
	}

	.check {
		border: 0 !important;
		padding: 0 !important;

		.wpcf7-list-item {
			display: block;
			margin-left: 0;

			.wpcf7-list-item-label {
				color: $color-dark;
				font-size: 16px;
				margin-left: 10px;
			}
		}
	}

	.question {
		height: 101px;
	}
}

.terms-policy-cont {
	background-color: $color-light;
	border: 1px solid;
	height: 120px;
	margin-top: 2rem;
	overflow-y: scroll;
	padding: 1rem;

	h3 {
		font-size: 18px;
		margin: 0;
		text-align: center;
	}

	p {
		font-size: 16px;
		line-height: normal;
	}
}
