@import '../../plugins/bootstrap/scss/functions';
@import '../../plugins/bootstrap/scss/variables';
@import '../../plugins/bootstrap/scss/mixins';
@import '../mixins';


.coupons-container {
	padding-top: 3rem;

	h1 {
		@include media-breakpoint-down(sm) {
			font-size: 35px;
			line-height: normal;
		}

		font-size: 42px;
		letter-spacing: .03px;
		margin-bottom: 2rem;
	}
}

.featured-category {
	background-image: url('../../../img/bg-featured-category.jpg');
	background-position: 54% center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 4rem 0 5rem;

	figure {
		&.category-img {
			@include media-breakpoint-down(sm) {
				margin-top: 8rem;
			}

			@include media-breakpoint-down(lg) {
				margin: 0 auto;
				max-width: 300px;
			}

			margin-top: -5rem;
		}
	}
}

.page-template-coupons {
	.pr-category-snippet {
		align-items: center;
		display: flex !important;
		flex-wrap: wrap;
		justify-content: center;
		margin: 10px auto !important;

		.pr-category-snippet__item {
			display: block;
			width: 100%;
		}
	}

	.items-products {
		@include media-breakpoint-down(md) {
			justify-content: center;
		}

		@include media-breakpoint-down(sm) {
			&.page-products {
				.item {
					.link-product {
						&.product-img {
							figure {
								max-height: 158px;
								min-height: 158px;

								img {
									max-width: 100% !important;
								}
							}
						}
					}
				}
			}

			justify-content: normal;
		}
	}


	.trending-products {
		h3 {
			@include media-breakpoint-down(sm) {
				margin: 40px 0 45px;
			}
		}

		.link-product {
			img {
				@include media-breakpoint-down(md) {
					max-width: 80% !important;
				}
			}
		}
	}
}

.trending-products {
	@include media-breakpoint-down(sm) {
		padding-top: 6rem;
	}

	padding-top: 3rem;

	h3 {
		font-size: 32px;
	}
}
