@import '../../plugins/bootstrap/scss/functions';
@import '../../plugins/bootstrap/scss/variables';
@import '../../plugins/bootstrap/scss/mixins';
@import '../mixins';

.faq-page {
	h1 {
		font-size: 42px;
		margin: 40px 0;
		text-align: center;
	}

	.card-body {
		font-size: 18px;
		text-align: left;
	}

	.pagination {
		justify-content: center;
		margin: 2rem 0;

		a {
			color: $color-main;
		}

		.page-numbers {
			color: $color-main;
			font-family: 'vagroundedstd-bold';
			font-size: 22px;

			+ .page-numbers {
				margin-left: .5rem;
			}

			&.current {
				color: $color-dark;
			}
		}
	}

	.upc-normal {
		display: none;
	}

	.form-custom {
		font-family: 'vagroundedstd-light';
		text-align: center;

		small {
			color: $color-grayscale-7;
			font-size: 16px;
			line-height: 22px;
		}

		label {
			font-family: 'vagroundedstd-light';
		}

		input,
		textarea,
		select {
			background-color: $color-light;
			border: 1px solid $color-grayscale-7;
			border-radius: 0;
			color: $color-grayscale-7;
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 1rem;
			margin-top: 10px;

			&[type='submit'] {
				@include btn-main;
				border: 0;
			}
		}

		select {
			border: 0;
			height: 50px !important;
			margin: 10px 0;
			outline: 1px solid $color-grayscale-7;
			outline-offset: -1px;
			padding: 10px 16px;
			-webkit-border-radius: 0;

			-webkit-appearance: none;
			-webkit-border-radius: 0px;
			background-image: url('../../../img/pages/faq/arrow-down-select.svg');
			background-position: 94% 50%;
			background-size: 23px;
			background-repeat: no-repeat;
		}

		input {
			&:not([type='checkbox']) {
				height: 50px;
			}
		}
	}
}

figure {
	margin: 0;
}

.faq-product {
	text-align: center;

	figure {
		background-repeat: no-repeat;
		background-size: contain;
		height: 170px;
		margin: auto;
		text-align: center;
		width: 170px;

		&.faq {
			background-image: url('../../../img/pages/faq/faq.png');
		}

		&.product-feedback {
			background-image: url('../../../img/pages/faq/product-feedback.png');
		}
	}

	.faq-top-icons {
		.btn-link {
			color: $color-main;
			white-space: normal;

			&[aria-expanded='false'] {
				color: $color-main;
			}

			&[aria-expanded='true'] {
				color: darken($color-main, 8%);

				figure {
					&.faq {
						background-image: url('../../../img/pages/faq/faq-dark.png');
					}

					&.product-feedback {
						background-image: url('../../../img/pages/faq/product-feedback-dark.png');
					}
				}
			}

			&:hover,
			&:active {
				color: darken($color-main, 8%);
				cursor: pointer;
				text-decoration: none;

				figure {
					&.faq {
						background-image: url('../../../img/pages/faq/faq-dark.png');
					}

					&.product-feedback {
						background-image: url('../../../img/pages/faq/product-feedback-dark.png');
					}
				}
			}

			h4 {
				@include media-breakpoint-down(sm) {
					font-size: 20px;
				}

				font-size: 28px;
				margin: 15px 0;
				text-transform: none;
			}
		}
	}
}

.faqs-info {
	background-color: $color-grayscale-8;
	margin: 40px 0 0;

	.collapse-feedback-custom {

		@include media-breakpoint-down(sm) {
			.card-body {
				padding: 10px 0;
			}
		}

		.wpcf7-form-control {
			&.btn-primary {
				font-family: 'vagroundedstd-bold';
			}
		}
	}

	h4 {
		font-size: 28px;
		line-height: 46px;
		margin-bottom: 2rem;
	}

	button {
		&:focus {
			text-decoration: none;
		}
	}

	.nav-custom {
		border-bottom: 1px solid $color-main;

		button {
			@include media-breakpoint-down(md) {
				width: 200px;
			}

			@include media-breakpoint-down(sm) {
				width: 155px;
			}

			background: $color-secondary;
			border-radius: 35px 35px 0 0;
			color: $color-light;
			font-family: 'vagroundedstd-bold';
			height: 50px;
			transition: all .2s ease-in-out;
			width: 220px;

			&.collapsed {
				background-color: $green-transparent2;
				color: $color-secondary;

				&:hover {
					color: $color-secondary;
				}
			}

			&:hover,
			&:focus {
				-webkit-transform: scale(1.03);
				color: $color-light;
				transform: scale(1.03);
			}
		}
	}

	.collapse-questions {
		button {
			@include media-breakpoint-down(md) {
				line-height: 1.5 !important;
			}
			white-space: initial;
		}
	}

	.card-header-custom {
		border-bottom: 1px solid $color-main;
		text-align: left;

		button {
			@include media-breakpoint-down(md) {
				position: relative;

				&::after {
					bottom: 0;
					position: absolute;
					right: 10px;
					top: 5px;
				}
			}

			@include media-breakpoint-down(sm) {
				font-size: 16px;
			}

			color: $color-dark;
			font-family: 'vagroundedstd-bold';
			font-size: 18px;
			line-height: 1.5;
			padding: 10px 10px 10px 0;
			text-align: left;
			width: 100%;

			&::after {
				color: $color-main;
				display: inline-block;
				float: right;
				font-family: 'Font Awesome 5 Free';
				font-size: 14px;
				font-weight: 900;
				margin-top: 5px;
			}

			&[aria-expanded='false'] {
				&::after {
					content: '\f078';
				}
			}

			&[aria-expanded='true'] {
				&::after {
					content: '\f077';
				}
			}
		}
	}
}

.contact-info {
	.contact-btn {
		border-bottom: 3px solid $color-main;
		border-top: 3px solid $color-main;
		margin: 40px 0 70px;
		padding: 1rem 0;
		text-align: center;

		&:hover {
			cursor: pointer;
		}

		h4 {
			font-family: 'vagroundedstd-light';
			font-size: 28px;
			margin: 0;

			span {
				@include media-breakpoint-down(sm) {
					padding: 0;
				}

				color: $color-main;
				font-size: 28px;
				padding-left: 40px;
			}
		}
	}

	.collapse-contact {
		@include media-breakpoint-down(sm) {
			margin: 45px 0 0;

			.card-body {
				padding: 10px 0;
			}
		}

		background-color: $color-grayscale-8;

		h4 {
			font-family: 'vagroundedstd-bold';
			font-size: 28px;
			margin: 2rem 0;
			text-align: center;
		}
	}

	.support-call {
		margin-bottom: 2rem;
		margin-top: 3rem;

		p {
			color: $color-grayscale-7;
			font-family: 'vagroundedstd-light';
			font-size: 16px;
			line-height: 22px;
			margin: 0;
		}
	}

	.form-info {
		text-align: left;

		small {
			color: $color-grayscale-7;
			font-size: 16px;
		}

		.accept-terms {
			.wpcf7-list-item {
				margin: 0 !important;

				label {
					margin: 0;
				}

				a {
					color: $color-main;
				}
			}
		}

		.wpcf7-list-item {
			margin: 0;

			.wpcf7-list-item-label {
				font-size: 16px;
			}
		}

		.product-content {
			input {
				margin: 5px 0;
			}
		}

		.wpcf7-form {
			input {
				margin: 10px 0;
			}

			p {
				margin: 0;
			}

			.wpcf7-submit {
				background: $color-secondary;
				border: 0;
				border-radius: 100px;
				font-family: 'vagroundedstd-bold';
				font-size: 18px;
				font-weight: 400;
				padding: 7px 30px;
			}
		}
	}
}

@media (max-width: 576px) {
	.faqs-info {
		.nav-custom {
			button {
				border-radius: 25px 25px 0 0;
				font-size: 14px;
				width: 95px;
			}
		}

		.collapse-questions {
			button {
				white-space: initial;

				&::before {
					content: '';
				}
			}
		}
	}
}


@media (max-width: 475px) {

	.faq-page {
		h1 {
			font-size: 42px;
			letter-spacing: .03px;
			line-height: 46px;
			margin: 30px 0;
		}
	}

	.faq-product {
		.btn-link {
			h4 {
				font-size: 22px;
				line-height: 26px;
				white-space: initial;
			}
		}

		figure {
			background-size: contain;
			height: 110px;
			margin: auto;
			width: 110px;
		}
	}

	.contact-info {
		.contact-btn {
			h4 {
				font-size: 18px;

				span {
					display: block;
					font-size: 18px;
					width: 100%;
				}
			}
		}
	}
}
