@import '../../plugins/bootstrap/scss/functions';
@import '../../plugins/bootstrap/scss/variables';
@import '../../plugins/bootstrap/scss/mixins';
@import '../mixins';

.home {
	footer {
		@include media-breakpoint-down(sm) {
			margin-top: 3rem;
		}
	}
}

.banner-home {
	@include media-breakpoint-down(xs) {
		height: 350px;
		margin-bottom: 2rem;
	}

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 540px;
	margin-bottom: 3rem;
	position: relative;

	figure {
		img {
			@include media-breakpoint-down(sm) {
				max-height: 250px;
				min-height: 250px;
				object-fit: cover;
			}
		}
	}

	.product-banner {
		@include media-breakpoint-down(xs) {
			bottom: 5rem;
		}

		bottom: -3rem;
		display: block;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
	}

	.owl-nav {
		display: none;

		.owl-prev,
		.owl-next {
			position: absolute;
			top: 40%;
		}

		.owl-next {
			right: 1rem;
		}

		.owl-prev {
			left: 1rem;
		}
	}

	.owl-dots {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin: auto;
		position: absolute;
		right: 0;
		top: 50%;
		width: 100px;
	}

	.cont-item {
		.item {
			max-height: 530px;
			min-height: 530px;

			img {
				height: 530px;
				object-fit: cover;
			}
		}
	}

	.slide-description {
		@include media-breakpoint-down(sm) {
			padding: 3rem;

			.item {
				flex-direction: column-reverse;
			}
		}

		background-color: $color-main;
		background-image: url('../../../img/pattern-background-green.jpg');
		color: $color-light;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		padding: 0 8rem;

		h2 {
			@include media-breakpoint-down(sm) {
				font-size: 40px;
				line-height: 1;
			}

			font-family: 'vagroundedstd-bold';
			font-size: 70px;
			letter-spacing: 2.9px;
			line-height: 75px;
			text-shadow: 0 2px 4px $black-transparent2;
		}

		.description {
			font-family: 'barlow-bold';
			font-size: 21px;
			letter-spacing: 1px;
			line-height: 27px;
			text-shadow: 0 1px 3px $black-transparent2;
		}

		.buttons {
			@include media-breakpoint-down(sm) {
				justify-content: center;
			}

			align-items: center;
			display: flex;

			a + a {
				margin-left: 1rem;
			}
		}
	}
}

.cont-recipes {
	background-color: $color-main-transparent;
	padding: 2rem 0;
	text-align: center;

	h2 {
		font-family: 'vagroundedstd-bold';
		font-size: 28px;
		line-height: 46px;
	}

	.recipes {
		margin: 2rem 0;
	}

	&.list-recipes {
		.btn-main {
			min-width: 220px;
		}
	}
}

.list-recipes {
	.item {
		transition: ease .3s;
		@include media-breakpoint-down(md) {
			margin: 0 0 30px;
		}

		.link-recipe {
			@include media-breakpoint-down(md) {
				width: auto !important;
			}

			display: block;
			margin: 0 auto;
			width: 220px;

			figure {
				margin: 0 auto .8rem;

				.bg-img {
					@include media-breakpoint-down(md) {
						height: 158px;
						width: 158px;
					}

					background-position: center;
					background-size: cover;
					border-radius: 50%;
					height: 220px;
					margin: 0 auto;
					width: 220px;
				}

				img {
					border-radius: 50%;
					display: none;
					transition: ease .3s;
				}
			}

			.title-recipe {
				color: $color-dark;
				font-family: 'vagroundedstd-bold';
				font-size: 18px;
				letter-spacing: 0;
				line-height: 21px;
				margin: 0;
			}
		}

		&:hover {
			transform: scale(1.05);

			.link-recipe {
				text-decoration: none;
			}

			img {
				box-shadow: 0 0 40px -7px $black-transparent2;
				transition: ease .3s;
			}
		}

		.cont-reviews {
			a {
				color: $color-main;
				font-size: 16px;
				letter-spacing: 0;
				line-height: 17px;
			}
		}
	}
}

.cont-videos {
	padding: 3rem 0 0;
	text-align: center;

	h2 {
		font-family: 'vagroundedstd-bold';
		font-size: 28px;
		line-height: 46px;
	}

	.videos {
		margin: 2rem 0;

		.cont-item {
			a {
				display: block;

				&:hover {
					text-decoration: none;

					figure {
						&::before {
							content: none;
						}

						img {
							transform: rotateY(180deg);
						}
					}
				}
			}

			figure {
				background-clip: content-box;
				background-image: url('../../../img/bg-video.png');
				background-size: cover;
				margin: 0 auto;
				perspective: 800px;
				perspective-origin: 50% 100px;
				position: relative;
				width: 100%;

				&::before {
					background-color: $white-opacity;
					border-radius: 50%;
					content: '';
					display: none;
					height: 100%;
					left: 0;
					position: absolute;
					transition: .3s ease;
					width: 100%;
					z-index: 1;
				}

				&::after {
					@include media-breakpoint-down(xs) {
						height: 50px;
						width: 50px;
					}

					background-image: url('../../../img/play-button.png');
					background-position: center;
					background-size: cover;
					bottom: 0;
					content: '';
					display: block;
					height: 100px;
					left: 0;
					margin: auto;
					position: absolute;
					right: 0;
					top: 0;
					width: 100px;
					z-index: 0;
				}

				img {
					overflow: hidden;
					transform-style: preserve-3d;
					transition: .3s ease;
				}
			}
		}

		.item {
			margin: 0 auto;
			max-width: 300px;
			min-height: 300px;

			figure {
				border-radius: 50%;
			}

			p {
				@include media-breakpoint-down(xs) {
					font-size: 18px;
					max-width: 100%;
				}

				color: $color-dark;
				font-family: 'vagroundedstd-bold';
				font-size: 22px;
				letter-spacing: .03px;
				line-height: 28px;
				margin: 1rem auto 0;
				max-width: 80%;
			}
		}

		.center {
			.item {
				opacity: 1;

				figure {
					height: 220px;
					width: 220px;

					&::before {
						content: none;
					}

					&::after {
						display: block;
					}

					img {
						transform: rotateY(180deg);
					}
				}
			}
		}

		.owl-nav {

			@include media-breakpoint-down(lg) {
				left: -10px;
				right: -10px;
			}

			@include media-breakpoint-down(sm) {
				left: 4rem;
				right: 4rem;
			}

			display: flex;
			justify-content: space-between;
			left: -2rem;
			position: absolute;
			right: -2rem;
			top: 30%;
			z-index: -1;

			button {
				&:focus,
				&:hover {
					background: none;
					outline: none;
				}
			}
		}
	}
}

.btn-chis-white {
	background-color: $color-light;
	border-radius: 25px !important;
	color: $color-dark;
	font-family: 'vagroundedstd-bold';
	font-size: 14px !important;
	letter-spacing: 1px;
	padding: .85rem 2rem !important;
}

.text-under-banner {
	background-image: url('../../../img/text-under-banner.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;

	&.text-product {
		background-image: url('../../../img/featured-recipes-texture-bg.png');
		background-position: center;
		background-size: contain;

		h1 {
			color: $color-light;
			font-family: 'vagroundedstd-bold';
			font-size: 38px;
			letter-spacing: 1.6px;
			line-height: 46px;
			margin-bottom: 3rem;
			margin-top: -6rem;
			min-width: 458px;
			padding: 1.7rem 2rem;
			position: relative;
			text-align: center;
			width: fit-content;
			z-index: 4;
		}

		p {
			font-family: 'barlow-regular';
			font-size: 16px;
			letter-spacing: 1px;
			line-height: 1.63;
			margin-bottom: 0;
		}
	}
}

.cont-categories {
	.link-product {
		&:hover {
			-webkit-transform: scale(1.05);
			transform: scale(1.05);
		}
	}
}

.single-products {
	.products-home .items-products .item .link-product::before {
		top: 0 !important;
	}
}

.page-template-home {
	.products-home .items-products .item .link-product::before {
		top: 30px !important;
	}
}

.products-home {
	@include media-breakpoint-down(xs) {
		padding-bottom: 0;
	}

	.items-products {
		.item {
			@include media-breakpoint-down(xs) {
				margin-bottom: 1rem;

				&:last-child {
					margin-bottom: 5rem;
				}
			}

			margin-bottom: 30px;
			transition: ease .6s;


			.link-product {
				@include media-breakpoint-down(md) {
					width: auto !important;
				}

				margin: 0 auto;
				width: 220px;

				@include media-breakpoint-down(lg) {
					&::before {
						background-color: transparent;
					}

					&:hover {
						&::before {
							opacity: 0 !important;
						}
					}
				}

				@include media-breakpoint-down(sm) {
					img {
						max-width: 95%;
					}
				}

				color: $color-dark;
				display: flex;
				flex-direction: column;
				text-decoration: none;
				transition: ease .3s;

				figure {
					@include media-breakpoint-down(md) {
						max-height: inherit;
						min-height: inherit;
					}

					display: block;
					margin: 0 auto !important;
					max-width: 220px;
					min-height: 220px;
				}

				&::before {
					background-color: $color-secondary;
					border-radius: 50%;
					content: '';
					display: block;
					height: 180px;
					left: 0;
					margin: 0 auto;
					opacity: 0;
					position: absolute;
					right: 0;
					top: 0 !important;
					transform: scale(0);
					transition: all .4s ease-in-out;
					width: 180px;
					z-index: -1;
				}

				&:hover {
					&::before {
						opacity: 1;
						transform: scale(1);
					}
				}


				&[href*='p-b-'],
				&[href*='pb-'],
				&[href*='pb_'] {
					&::before {
						top: 5% !important;
					}
				}
			}

			&:hover {
				transform: scale(1.05);

				.link-product {
					color: $color-main;
				}
			}
		}

		&.page-products {
			.item {
				.link-product {
					display: block;

					&.product-img {

						figure {
							@include media-breakpoint-down(md) {
								width: auto;
							}

							align-items: flex-end;
							display: flex;
							justify-content: center;
							width: 220px;

							.img-product {
								@include media-breakpoint-down(md) {
									height: 158px;
									width: 158px;
								}

								height: 220px;
								width: 220px;
							}
						}

						p {
							color: $color-dark;
						}

						small {
							font-family: 'barlow-bold';
							font-size: 14px;
							letter-spacing: 1px;
							line-height: 16px;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}

	&.product-category {
		.item {
			.link-product {
				display: block;

				figure {
					@include media-breakpoint-down(md) {
						width: 158px;
					}

					align-items: flex-end;
					display: flex;
					justify-content: center;
					margin: 0 auto;
					width: 220px;

					.img-product {
						@include media-breakpoint-down(md) {
							height: 158px;
							width: 158px;
						}

						height: 220px;
						width: 220px;
					}
				}

				p {
					color: $color-dark;
				}

				small {
					font-family: 'vagroundedstd-bold';
					font-size: 14px;
					letter-spacing: 1px;
					line-height: 16px;
					text-transform: uppercase;
				}
			}
		}
	}
}

.featured-recipes-home {
	padding-top: 10px;

	.title {
		padding: 2rem 0 3rem;
	}

	.show-more {
		padding: 3rem 0 5rem;
	}

	.recipes {
		@include media-breakpoint-down(sm) {
			flex-direction: column-reverse !important;
		}

		@for $i from 1 through length($colors-featured) {
			&:nth-child(#{length($colors-featured)}n+#{$i}) {
				background: nth($colors-featured, $i);
			}
		}

		max-height: 500px;
		min-height: 500px;

		figure {
			margin-bottom: 0;

			img {
				min-height: 500px;
				object-fit: cover;
			}
		}

		.item {
			height: 48%;
			margin-bottom: 20px;
		}

		.recipes-item {
			@include media-breakpoint-down(md) {
				margin-bottom: 20px;
			}

			align-items: center;
			display: flex;
			height: 100%;
			justify-content: center;

			.info {
				color: $color-light;
				display: flex;
				flex-direction: column;
				font-family: 'vagroundedstd-bold';
				font-size: 18px;
				font-weight: inherit;
				justify-content: space-around;
				margin: 0;
				padding: 1rem 1rem .5rem;
				text-align: center;

				p {
					color: $color-light;
					font-family: 'vagroundedstd-bold' !important;
					font-size: 24px;
					letter-spacing: 1px;
					line-height: normal;
					margin: 0;
				}

				a {
					margin: 1rem auto 0;
					max-width: 150px;
					padding: .8rem 2rem !important;
				}
			}

			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
	}
}

.news {
	.post-news {
		margin-top: 2rem;

		.news-item {
			&.left {
				@include media-breakpoint-down(xs) {
					margin-left: 0;
				}

				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				margin-left: 4rem;
				min-height: 595px;
			}

			&.right {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				min-height: 288px;
				position: relative;

				&:first-child {
					margin-bottom: 1rem;
				}

				&:hover {
					.info {
						visibility: visible;
						z-index: 2;
					}

					&::before {
						background-color: $yellow-transparent;
					}
				}
			}

			a {
				display: block;
			}

			&::before {
				align-items: center;
				background-color: transparent;
				bottom: 0;
				color: $color-light;
				content: '';
				display: flex;
				justify-content: center;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				transition: ease .3s;
				z-index: 1;
			}
		}

		.info {

			h4 {
				font-family: 'vagroundedstd-bold';
				font-size: 18px;
				letter-spacing: 1px;
				line-height: normal;
			}

			.description {
				* {
					font-family: 'barlow-regular';
					font-size: 16px;
					line-height: 20px;
				}
			}

			.link {
				font-family: 'vagroundedstd-bold';
				font-size: 14px;
				letter-spacing: 1px;
				text-decoration: underline;
			}

			&.yellow {
				bottom: 17%;
				left: 0;
				padding: 0 2rem;
				position: absolute;
				right: 0;
				transition: ease .3s;
				visibility: hidden;

				* {
					color: $color-dark;
				}
			}

			&.red {
				background-color: $red-transparent;
				bottom: 10%;
				color: $color-light;
				left: 0;
				max-width: 460px;
				padding: 2rem 1.5rem;
				position: absolute;
				z-index: 2;

				* {
					color: $color-light;
				}
			}
		}
	}
}
@media (max-width: 578px) {
	.banner-home {
		margin-bottom: 90px;

		.product-banner {
			display: block;
			margin-bottom: -5rem;
		}
	}
}

@media (max-width: 767px) {

	.cont-videos {

		.videos {
			.owl-nav {
			    display: none;
			}
		}	
	}

	.nav-middle {
		.widget-title {
		   position: relative;
		   &::before {
	   	    content: "";
		    width: 100%;
		    height: 2px;
		    background-color: #20c1dc;
		    position: absolute;
		    margin: 0 auto;
		    left: 0;
		    right: 0;
		    top: -20px;
		   }
		}
	}
}

@media (min-width: 1440px) {
	.banner-home {
		figure {
			img {
				width: 100%;
			}
		}
	}
}
