@import '../../plugins/bootstrap/scss/functions';
@import '../../plugins/bootstrap/scss/variables';
@import '../../plugins/bootstrap/scss/mixins';
@import '../mixins';

[data-status='inactive'] {
	display: none;
}

[data-status='active'] {
	display: block;
}

.cont-categories {
	@include media-breakpoint-down(sm) {
		padding: 30px 0 0;
	}

	background-color: $color-main-transparent;
	padding: 2.63rem 3rem;

	h1 {
		color: $color-dark;
		font-family: 'vagroundedstd-bold';
		font-size: 42px;
		letter-spacing: .03px;
		line-height: 36px;
		margin-bottom: 0;
		margin-top: 2rem;
		text-align: center;
		text-transform: capitalize;

		sup {
			font-size: 27px;
		}
	}

	.products-home {
		.link-product{
			p {
				margin: 10px 0 0;
			}
		}
	}
}

.single-products {
	.pr-category-snippet {
		@include media-breakpoint-down(lg) {
			margin: 10px auto !important;
		}

		.pr-category-snippet__item {
			display: block;
			margin: 0 auto;
			text-align: center;
			width: 100%;
		}
	}

	.reviews-single {
		.p-w-r {
			.pr-category-snippet {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin: 5px 0 !important;
			}
		}
	}
}

.page-template-single-all-products .cont-categories .products-home .items-products .item .link-product::before {
    top: 25px !important;
}

.page-template-single-all-products .products-home .items-products .item.new-product .link-product::before {
    top: 45px !important;
}

.single-products.reviews-single .products-home .items-products .item.new-product .link-product::before {
    top: 45px !important;
}

.banner-product {
	@include media-breakpoint-up(lg) {
		margin-bottom: 3rem;
	}

	@include media-breakpoint-down(md) {
		margin-bottom: 2rem;
	}

	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	color: $color-light;
	max-height: 500px;
	min-height: 500px;
	padding-top: 2rem;
	position: relative;
	text-align: center;

	h1 {
		@include media-breakpoint-down(md) {
			font-size: 32px;
			line-height: normal;
		}

		font-size: 42px;
		letter-spacing: .03px;
		margin-top: 1rem;

		sup {
			font-size: 65%;
		}
	}

	p {
		font-size: 20px;
		line-height: 27px;
	}
}

.banner-product-info {
	@include media-breakpoint-down(sm) {
		padding-top: 0;

		h1 {
			margin: 60px 0 10px;
		}

		p {
			font-size: 16px;
		}
	}
}

.bg-light-img {
	background: $color-light;
	background-image: none !important;
}

.breadcrumb {
	background-color: transparent !important;
	font-family: 'vagroundedstd-light';
	font-size: 12px;

	a {
		color: $color-dark;
	}

	.breadcrumb-item {
		&.active {
			@include media-breakpoint-down(sm) {
				margin-left: 5px;
			}

			color: $color-dark;
			font-family: 'vagroundedstd-bold';
			padding: 0;
			text-decoration: underline;
		}

		+ .breadcrumb-item {
			&::before {
				content: '>';
			}
		}
	}
}


.page-template-single-all-products {
	.products-home {
		.link-product {
			@include media-breakpoint-down(sm) {
				img {
					max-width: 100% !important;
				}
			}
		}

		.items-products {
			.item {
				.link-product {
					&::before {
						//top: 70px !important;
					}
				}
			}
		}

		.pr-category-snippet {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 5px 0;

			.pr-category-snippet__item {
				display: block;
				width: 100%;
			}
		}
	}
}

.pb-jelly-minis {
	&.products-home {
		.items-products {
			justify-content: center;
		}
	}
}

.products-home {
	&.product-category {
		margin-bottom: 4rem;

		&.single-products {
			.items-products {
				margin-bottom: 0 !important;
			}
		}

		.new-product {
			.pr-category-snippet {
				@include media-breakpoint-down(lg) {
					display: flex;
					flex-wrap: wrap;
					margin: 10px auto;

					section {
						margin: auto;
					}
				}

				@include media-breakpoint-down(md) {
					display: inline-flex;
				}
			}
		}

		.items-products {
			@include media-breakpoint-down(md) {
				padding-bottom: 40px;

				.pr-snippet-stars-png {
					justify-content: center;
				}
			}

			border-bottom: .5px solid $color-main;
			margin-left: 0;
			margin-right: 0;
			padding-bottom: 3rem;
			padding-top: 0;

			&:last-child {
				border-bottom: 0;
				display: flex;
				margin-bottom: 0;
				padding-bottom: 0;
			}

			.item {
				margin-bottom: 30px;
				text-align: center;
				transition: ease .3s;

				&.new-product {
					@include media-breakpoint-down(sm) {
						padding: 0;
					}

					padding: 0 28px; 

					figure {
						@include media-breakpoint-down(sm) {
							position: relative;

							&::after {
								right: 0 !important;
								top: 20px !important;
							}
						}

						&::after {
							background-image: url('../../../img/new.png');
							background-position: center;
							background-repeat: no-repeat;
							background-size: cover;
							content: '';
							display: block;
							height: 60px;
							position: absolute;
							right: 0rem;
							top: 6rem;
							width: 60px;
						}
					}
				}

				&:nth-last-child(-n+3) {
					margin-bottom: 0;
				}

				.link-product {
					color: $color-dark;
					text-decoration: none;
					transition: ease .6s;

					p {
						color: $color-dark;
						font-size: 18px;
					}

					small {
						font-family: 'vagroundedstd-bold';
						font-size: 14px;
						letter-spacing: 1px;
						line-height: 16px;
						text-transform: uppercase;
					}
				}

				&:hover {
					transform: scale(1.05);

					.link-product {
						color: $color-main;
					}
				}
			}
		}

		.description {
			margin-bottom: 40px;

			p {
				font-size: 18px;
				line-height: 1.11;
				margin-bottom: 0;
				margin-top: 0;
			}
		}

		.img-review {
			margin-left: -5px;
			width: 50%;
		}

		.product-reviews {
			margin-bottom: 1rem;

			a {
				color: $color-main;
				display: block;
				font-family: 'vagroundedstd-bold';
				font-size: 16px;
				line-height: 17px;

				&:hover {
					color: $color-main-hover;
				}
			}
		}
	}

	&.all-products-content {
		@include media-breakpoint-up(md) {
			padding-top: 6rem;
		}

		a {
			&:hover {
				text-decoration: none;
			}
		}

		h3 {
			@include media-breakpoint-down(sm) {
				letter-spacing: 0;
				line-height: 35px;
				text-align: center;
			}

			color: $color-main;
			font-size: 28px;
			line-height: 46px;
			text-align: left;

			sup {
				font-size: 65%;
			}
		}

		.description {
			p {
				@include media-breakpoint-down(sm) {
					font-size: 16px;
					line-height: 26px;
					margin-bottom: 0;
				}

				font-family: 'vagroundedstd-light' !important;
				font-size: 20px;
				line-height: 27px;

				sup {
					font-size: 65%;
				}
			}
		}

		.name-product {
			@include media-breakpoint-down(sm) {
				margin-top: 40px;
				text-align: center;
			}

			margin-top: 3rem;

			&[data-count='1'] {
				@include media-breakpoint-up(md) {
					margin-top: 0;
				}
			}

			a {
				display: block;
			}
		}
	}
}

.all-products-carousel,
.other-products {
	padding: 30px 100px;

	.item {
		margin-bottom: 30px;
		text-align: center;
		transition: ease .3s;

		.link-product {
			color: $color-dark;
			display: block;
			text-decoration: none;
			transition: ease .3s;

			&[href*='peppers'] {
				figure {
					.img-product {
						max-height: 150px;
					}
				}
			}

			figure {
				align-items: flex-end;
				display: flex;
				justify-content: center;
				max-height: 260px;
				min-height: 260px;

				.img-product {
					max-height: 220px;
					object-fit: contain;
				}
			}

			p {
				color: $color-dark;
			}

			small {
				font-family: 'vagroundedstd-bold';
				font-size: 14px;
				letter-spacing: 1px;
				line-height: 16px;
				text-transform: uppercase;
			}
		}

		&:hover {
			transform: scale(1.05);

			.link-product {
				color: $color-main;
			}
		}
	}

	.owl-nav {
		bottom: 50px;
		height: 45px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;

		.owl-prev,
		.owl-next {
			position: absolute;

			&:hover {
				background: transparent;
			}

			&:focus {
				outline: none;
			}
		}

		.owl-prev {
			left: 0;
		}

		.owl-next {
			right: 0;
		}
	}
}

.single {
	.featured-recipes-home {
		background-image: none;
		padding-top: 0;

		.title {
			h3 {
				background-color: $color-light !important;
				text-align: left;
			}

			h2 {
				font-size: 32px;
			}
		}

		.pr-snippet-stars-png {
			@include media-breakpoint-down(sm) {
				flex-direction: row-reverse !important;
				justify-content: flex-end !important;

				.pr-snippet-rating-decimal {
					font-size: 56px !important;
				}
			}
		}

		.pr-review-display {
			article {
				.pr-rd-description {
					text-align: left;
				}

				.pr-rd-reviewer-details {
					span {
						color: $color-dark !important;
					}
				}
			}
		}
	}
}

.btn-dropdown-sizes {
	align-items: center;
	background-color: $green-transparent2;
	border: 2px solid $color-secondary;
	border-radius: 100px;
	color: $color-secondary;
	display: flex;
	font-family: 'vagroundedstd-bold';
	font-size: 18px;
	justify-content: space-around;
	line-height: 22px;
	min-height: 50px;
	min-width: 140px;

	&:hover {
		color: lighten($color-secondary, 8%);
	}
}

.products-template-default {
	.p-w-r {
		.pr-snippet {
			margin: 0 auto !important;
		}
	}
}


.single-product {
	.info-product {

		@include media-breakpoint-down(sm) {
			padding: 0 0 35px;
		}

		.new-product {
			figure {
				@include media-breakpoint-down(sm) {
					position: relative;

					&::after {
						right: 27px !important;
    					top: 15px !important;
					}
				}

				&::after {
					background-image: url('../../../img/new.png');
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					content: '';
					display: block;
					height: 70px;
					position: absolute;
					right: 30px;
					top: 0;
					width: 70px;
				}
			}
		}


		padding: 0 0 5rem;

		.title-single-pro {
			@include media-breakpoint-down(lg) {
				font-size: 42px;
				line-height: 1.1;
				margin: 30px 0 10px;
			}
		}

		.product-big-image {

			display: flex;
			justify-content: center;

			.img-indicator {
				margin-left: 2rem;
				max-width: 120px;
			}
		}

		.product-upc {
			color: $color-grayscale-7;
			font-size: 16px;
			text-align: center;

			p,
			span {
				font-family: 'vagroundedstd-light';
				font-size: 16px;
				line-height: 22px;
				margin-bottom: 0;
			}
		}

		.img-product {
			@include media-breakpoint-down(sm) {
				margin: 0 auto;
				max-width: 95% !important;
			}

			display: block;
			max-height: 460px;
		}

		h1 {
			color: $color-dark;
			font-family: 'vagroundedstd-bold';
			font-size: 42px;
			letter-spacing: .03px;
			line-height: normal;
			margin-bottom: 0;

			small {
				color: $color-dark;
				display: block;
				font-family: 'vagroundedstd-bold';
				font-size: 20px;
				line-height: 24px;
				width: 100%;
			}
		}

		.code {
			color: $color-grayscale-4;
			font-size: 16px;
		}

		.tags-product {
			font-size: 14px;
			letter-spacing: 1px;
			line-height: 20px;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		.sizes {
			align-items: center;
			display: flex;

			span {
				font-family: 'vagroundedstd-bold' !important;
				font-size: 18px;
				letter-spacing: 0;
			}

			.dropdown-menu {
				&.show {
					background-color: $color-green-light;
					border: 2px solid $color-secondary;
					border-radius: 26px;
					padding: 0;
					text-align: center;
					transform: translate3d(0, -3px, 0) !important;

					.dropdown-item {
						color: $color-secondary;
						font-size: 18px;
						letter-spacing: .03px;
						line-height: 29px;

						&:hover,
						&.active {
							background-color: $color-secondary;
							color: $color-light;

							&:first-child {
								border-top-left-radius: 20px;
								border-top-right-radius: 20px;
							}

							&:last-child {
								border-bottom-left-radius: 20px;
								border-bottom-right-radius: 20px;
							}
						}

						&.active {
							background-color: $color-secondary;
							color: $color-light;
						}
					}
				}
			}

			.sizes-list {
				background: $color-green-light;
				border-radius: 50px;
				display: flex;
				list-style: none;
				margin-bottom: 0;
				margin-left: 2rem;
				padding: 0;

				li {
					align-items: center;
					border-radius: 100px;
					display: flex;
					justify-content: center;
					padding: 7px 1.3rem;
					position: relative;
					transition: width .5s;

					&:hover {
						&::before {
							opacity: 1;
							width: 100%;
						}

						a {
							color: $color-light;
							z-index: 2;
						}

					}

					&::before {
						background-color: $color-main-hover;
						border-radius: 100px;
						content: '';
						height: 100%;
						left: 0;
						opacity: 0;
						position: absolute;
						top: 0;
						transition: width .3s;
						width: 0%;
						z-index: 1;
					}

					&.active {
						background-color: $color-main;

						a {
							color: $color-light;
						}
					}

					+ li {
						margin-left: 1rem;
					}

					a {
						color: $color-dark;
						font-family: 'vagroundedstd-bold';
						vertical-align: text-bottom;
					}
				}
			}
		}

		.description {
			> * {
				font-size: 16px;
				line-height: 22px;
			}
		}

		.cont-cta {
			@include media-breakpoint-down(md) {
				align-items: flex-start;
				flex-direction: column;
			}

			display: flex;
			margin: 4rem 0 .5rem;

			.btn-main {
				@include btn-main;
				@include media-breakpoint-down(md) {
					width: 100%;
				}

				font-family: 'vagroundedstd-bold';
				line-height: 22px;
				max-width: 220px;
				min-width: 10px;
				padding: 15px 25px;
				text-align: center;
			}

			a {
				text-transform: capitalize;

				+ a {

					@include media-breakpoint-down(md) {
						margin: 1rem 0 0;
					}

					margin-left: 2rem;
				}
			}
		}

		.ssbp-wrap {
			.item-instagram {
				width: 40px;

				a {
					display: block;
				}
			}
		}

		.product-cont-buttons {
			margin: 50px 0 20px;

			.btn-write-review {
				@include media-breakpoint-down(sm) {
					padding: 13px 0;
				}

				min-width: 220px;
			}
		}

		.cta-info {
			&[data-status='active'] {
				@include media-breakpoint-down(sm) {
					margin: 0 auto;
					width: 92%;
				}

				display: flex;
			}

			a {
				@include media-breakpoint-down(sm) {
					margin: 10px 0;
					min-width: 157px;
				}

				background-color: $color-secondary;
				border-radius: 100px;
				color: $color-light;
				display: flex;
				font-family: 'vagroundedstd-bold';
				font-size: 18px;
				justify-content: center;
				min-width: 140px;
				padding: 10px 0;

				&:hover {
					background-color: darken($color-secondary, 8%);
					color: $color-light;
					text-decoration: none;
				}

				+ a {
					margin-left: 1rem;
				}
			}
		}
	}

	.recipe-share {
		span,
		br {
			display: none;
		}
	}

	.cards-product {
		.card {
			background-color: $color-green-light;
			border: 0;
			border-radius: 0;
			height: 100%;

			&.left {
				background-color: $color-main-dark;
			}

			&.right {
				background-color: $color-main;
			}

			.card-text {
				@include media-breakpoint-down(sm) {
					max-width: 100%;
				}

				margin: 0 0 0 auto;
				max-width: 85%;
			}

			.img-smartlabel {
				bottom: 3rem;
				display: block;
				left: 0;
				position: absolute;
				right: 0;

				figure {
					margin: 0;
				}
			}

			.card-header {
				align-items: center;
				background-color: transparent;
				border-bottom: 0;
				border-radius: 0;
				display: flex;
				justify-content: center;
				padding: 20px;

				p {
					color: $color-light;
					font-family: 'vagroundedstd-bold' !important;
					font-size: 28px;
					line-height: 41px;
					margin-bottom: 0;
				}
			}

			.card-body {
				@include media-breakpoint-down(md) {
					padding: 25px 15px;
				}

				@include media-breakpoint-down(sm) {
					min-height: auto;
					padding: 25px 15px 130px;
				}

				min-height: 280px;
				padding: 25px 45px;

				p {
					@include media-breakpoint-down(md) {
						font-size: 18px;
						line-height: 26px;
					}

					color: $color-light;
					font-family: 'vagroundedstd-light' !important;
					font-size: 20px;
					line-height: 27px;
					margin-bottom: 0;

					+ p {
						margin-top: 2rem;
					}
				}

				img {
					display: block;
					margin: auto;
					max-width: 430px;
					width: 100%;

				}
			}
		}
	}
}

.all-product {
	.name-product {
		p {
			color: $color-dark;
			line-height: 1.5;
		}
	}

	.list-product {
		margin-bottom: 2rem;

		.link-product {
			figure {
				margin-bottom: 1rem !important;

				img {
					@include media-breakpoint-down(sm) {
						max-width: 158px !important;
					}
				}
			}

			p {
				font-size: 18px !important;
			}
		}
	}
}

@media (max-width: 767px) {
	.products-home {
		.product-img {
			figure {
				max-height: 157px !important;
				min-height: 157px !important;
			}
		}

		.item {
			margin-bottom: 10px !important;
		}
	}

	.products-home.product-category .items-products {
	    padding-bottom: 15px;
	}

	.back-top {
		figure {
			display: none;
		}
	}
}

@media (min-width: 768px) {
	.single-product .info-product .new-product figure::after {
		right: 177px;
    	top: 30px;
	}
}

@media (min-width: 998px) {
	.card-body {
		img {
			transition: transform .3s ease;

			&:hover {
				transform: scale(1.2);
			}
		}
	}
	.products-home.product-category .items-products .item.new-product figure::after {
		right: 1rem !important;
		top: 5rem !important;
	}

	.single-product .info-product .new-product figure::after {
		right: 40px;
    	top: 55px;
	}
}

@media (min-width: 1440px) {
	.banner-product {
		max-height: 500px;
		min-height: 500px;
	}
}

@media (min-width: 1600px) {
	.banner-product {
		max-height: 800px;
		min-height: 800px;
	}
}
