@import '../../plugins/bootstrap/scss/functions';
@import '../../plugins/bootstrap/scss/variables';
@import '../../plugins/bootstrap/scss/mixins';
@import '../mixins';


.banner {
	@include media-breakpoint-down(sm) {
		min-height: 240px;
	}

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 360px;
	padding-top: 5rem;
	text-align: center;

	h1 {
		color: $color-light;
		font-size: 42px;
		text-shadow: 3px 3px 15px $black-transparent2;
	}
}

.page-template-recipes {
	.title-filters,
	.visible-filters {
		h2,
		h5 {
			background-image: url('../../../img/icons/filter-icon.png');
			background-position: 26px center;
			background-repeat: no-repeat;
		}
	}
}

.mar-lef-rec {
	position: relative;
    left: -20px;
}

.page-template-recipes {
	.cont-mobile-menu {
		padding: 20px 0 20px;

		.visible-filters {
			padding: 7rem 0 0;

			ul {
				&.children {
					overflow: hidden;
				}
			}

			h5 {
				background-position: 0 center;
				background-size: 35px 30px;
				font-size: 22px;
				letter-spacing: .03px;
				line-height: 26px;
				margin: 0 auto 40px;
				padding-left: 55px;
				text-transform: initial;
			}

			.searchandfilter {
				li {
					width: 100%;

					ul {
						width: 100%;
					}
				}
			}
		}
	}

	.list-recipes {
		.pr-category-snippet {
			align-items: center;
			display: flex;
			flex-direction: column;
			margin: 10px 0;
		}
	}

	.filter-section {
		h2 {
			color: $color-main;
			font-size: 22px;
			text-align: center;
		}

		.title-filters {
			h2 {
				background-size: 35px 30px;
				margin: 20px auto 50px;
				max-width: 75%;
				padding-left: 60px;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.right-recipes {
		@include media-breakpoint-down(sm) {
			border: 0;
			margin-top: 0;
		}

	}
}

.categories-filters {
	background-color: $color-secondary;
	margin-bottom: 3rem;

	.dropdown-toggle {
		&::after {
			display: none;
		}
	}

	.cont-button-filter {
		color: $color-light;
		font-family: 'vagroundedstd-bold';
		font-size: 22px;
		letter-spacing: .03px;
		line-height: 28px;
		min-height: 70px;
		padding: 8.5px 0;

		&:hover {
			cursor: pointer;
		}

		h2 {
			margin: 0;
			padding: 0;

			&::after {
				font-family: 'Font Awesome 5 Free';
				font-size: 20px;
				font-weight: 900;
				left: 0;
				margin-left: 1rem;
			}
		}

		&[aria-expanded='false'] {
			h2 {
				&::after {
					content: '\f078';
				}
			}
		}

		&[aria-expanded='true'] {
			h2 {
				&::after {
					content: '\f077';
				}
			}
		}

		.right-buttons {
			.reset-filters {
				color: $color-light;
				font-family: 'Poppins', sans-serif;
				font-weight: 500;
			}
		}
	}

	.main-parent-filter {

		&.show {
			background: $color-light;
			border: 0;
			box-shadow: 0 2px 7px 0 $black-transparent2;
			color: $color-dark;
			display: flex !important;
			margin: auto;
			min-height: 270px;
			overflow-y: scroll;
			padding: 1rem;
			right: 0;
			transform: translate3d(0, 70px, 0) !important;
			width: 100%;
		}


		.radio-list {
			width: 100%;
		}

		.nav-filters {
			ul {
				&.parent-list {
					display: flex;
					flex-direction: column;
					padding: 0;
					width: 100%;

					> li {
						&:last-child {
							margin: 2rem 0 0;
							text-align: center;
						}

						&:first-child {
							> ul {
								&:first-child {
									> li {
										> label {
											font-family: 'vagroundedstd-bold';
											font-size: 16px;
											line-height: 22px;

											input {
												&[type='checkbox'] {
													display: none;
												}
											}
										}
									}
								}
							}
						}

						input {
							&[type='submit'] {
								@include btn-main;
								font-family: 'vagroundedstd-bold';
								min-width: 130px;
								padding: .657rem 1rem;
							}
						}

						ul {
							&:not(.children) {
								display: flex;
								flex-direction: row;
								justify-content: space-around;
								padding: 0;

								> .cat-item {
									position: relative;
								}
							}
						}
					}

					label {
						font-family: 'Poppins', sans-serif;
						font-size: 16px;
						font-weight: 500;
						line-height: 26px;

						input {
							&[type='checkbox'] {
								margin-right: 5px;
							}
						}
					}
				}

				&.children {
					padding-left: 0;

					> li {
						display: block;

						label {
							margin: 0;
						}
					}
				}
			}

			.cat-item {
				&.uncategorized {
					display: none;
				}
			}
		}
	}
}

.recipes-container {
	.title-results {
		h4 {
			font-family: 'vagroundedstd-bold';
			font-size: 28px;
			line-height: 46px;

			span {
				color: $color-main;
				font-family: inherit;
				font-size: inherit;
				margin-bottom: 0;
			}
		}

		.search-categories {
			font-family: 'vagroundedstd-light';
			font-size: 18px;
			line-height: 25px;
		}
	}

	.item {

		@include media-breakpoint-down(sm) {
			margin: 0 0 40px !important;
		}

		margin-bottom: 25px;

		.link-product {
			display: block;
			text-align: center;
			transition: ease .3s;

			&:hover {
				text-decoration: none;
				transform: scale(1.05);

				figure {
					&::after {
						opacity: 1;
					}
				}
			}

			figure {
				height: 220px;
				margin: 0 auto 1rem;
				width: 220px;

				&::after {
					align-items: center;
					background-color: $hover-transparent;
					border-radius: 50%;
					bottom: 0;
					color: $color-light;
					content: 'View recipe';
					display: flex;
					font-family: 'vagroundedstd-bold';
					font-size: 28px;
					height: 220px;
					justify-content: center;
					left: 0;
					line-height: 41px;
					margin: 0 auto;
					opacity: 0;
					position: absolute;
					right: 0;
					top: 0;
					width: 220px;
				}

				.bg-img {
					background-position: center;
					background-size: cover;
					border-radius: 50%;
					height: 100%;
					width: 100%;
				}

				img {
					border-radius: 50%;
					display: none;
				}
			}

			.name {
				color: $color-dark;
				font-family: 'vagroundedstd-bold';
				font-size: 18px;
				line-height: 22px;
			}
		}
	}
}

.recipe-banner {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 360px;
	position: relative;

	&::after {
		bottom: 14px;
		color: $color-gray;
		content: "Serving Suggestion";
		font-family: 'vagroundedstd-light';
		font-size: 15px;
		position: absolute;
		right: 21px;
	}
}

.recipe-main {
	h1 {
		@include media-breakpoint-down(md) {
			line-height: 46px;
		}

		font-size: 42px;
		letter-spacing: .03px;
		text-align: center;
	}

	.border-recipe {
		border-bottom: 1px solid $color-main;
		border-top: 1px solid $color-main;

		&.recipe-content {
			margin: 30px 0;
			padding: 12px 0;
		}
	}

	.breadcrumb {
		padding: .75rem 0;
	}

	.p-w-r {
		.pr-snippet {
			margin: 0 auto !important;
		}
	}

	.recipe-description {
		p {
			font-size: 20px;
			line-height: 27px;
			margin: 1rem auto;
			max-height: 50px;
			overflow: hidden;
			position: relative;
			text-align: center;

			&::after {
				background-image: linear-gradient(to bottom, $white-transparent, $color-light);
				bottom: 0;
				content: '';
				display: block;
				height: 20px;
				left: 0;
				position: absolute;
				right: 0;
				width: 100%;
			}

			&.showing {
				background: 0;
				max-height: 100%;

				&::after {
					content: none;
				}
			}
		}

		.cont-show-more {
			text-align: center;

			.read-more {
				border-radius: 0;
				color: $color-grayscale-4;
			}
		}
	}

	.recipe-information {

		@include media-breakpoint-down(md) {
			flex-wrap: wrap;
			margin: 0 auto;
			max-width: 250px;
		}

		display: flex;
		justify-content: center;
		padding: 1rem 0;
		width: 100%;

		.information-item {
			@include media-ie-landscape {
				flex: 100%;
			}

			@include media-breakpoint-down(md) {
				margin: 10px 0;
				width: 100%;
			}

			display: flex;
			flex-direction: column;
			margin: 0 1rem;
			padding-left: 80px;
			position: relative;

			&.recipe {
				&-servings {
					&::before {
						background-image: url('../../../img/icons/icon-serving.png');
					}
				}

				&-calories {
					&::before {
						background-image: url('../../../img/icons/icon-recipe-calories.png');
					}
				}

				&-prep-time {
					&::before {
						background-image: url('../../../img/icons/icon-prep-time.png');
					}
				}

				&-cook-time {
					&::before {
						background-image: url('../../../img/icons/icon-cook-time.png');
					}
				}

				&-total-time {
					&::before {
						background-image: url('../../../img/icons/icon-cook-total-time.png');
					}
				}
			}

			&::before {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				border-radius: 50%;
				content: '';
				display: inline-block;
				height: 60px;
				left: 0;
				position: absolute;
				top: -7px;
				width: 60px;
			}

			label {
				color: $color-grayscale-2;
				font-family: 'vagroundedstd-light';
				font-size: 12px;
				letter-spacing: .92px;
				line-height: 14px;
				margin: 0;
				text-transform: uppercase;
			}

			span {
				@include media-breakpoint-down(md) {
					font-size: 28px;
					letter-spacing: 0;
					line-height: 41px;
				}

				font-family: 'vagroundedstd-light';
				font-size: 32px;
				letter-spacing: .04px;
			}
		}
	}

	.cont-columns {
		margin-top: 2rem;

		.column {
			&.col-ingredients {
				ul {
					list-style: none;
					padding-left: 0;
				}
			}

			p,
			span {
				font-size: 16px;
				line-height: 22px;
			}

			span,
			a {
				font-family: 'vagroundedstd-bold';
			}

			a {
				color: $color-dark;
			}

			ul {
				li {
					font-size: 16px;
					line-height: 22px;

					+ li {
						margin-top: 1rem;
					}
				}
			}

			&.col-directions {
				ol {
					counter-reset: item;
					padding-left: 20px;

					li {
						display: block;
						font-size: 16px;
						line-height: 22px;

						&::before {
							color: $color-dark;
							content: counter(item) '. ';
							counter-increment: item;
							display: block;
							font-family: 'vagroundedstd-bold';
							left: -1.3em;
							max-height: 0;
							max-width: 0;
							position: relative;
							top: .05em;
						}

						+ li {
							margin-top: 1rem;
						}
					}
				}
			}

			h4 {
				font-family: 'vagroundedstd-bold';
				font-size: 22px;
				letter-spacing: .03px;
				line-height: 28px;
				margin-bottom: 1rem;
			}
		}
	}
}

.recipe-share {
	&:not(.product-share) {
		margin: 0 -15px;
	}

	.ssbp--theme-6 {
		.ssbp-list {
			li {
				@include media-breakpoint-down(sm) {
					margin: 0 2px !important;
				}

				margin: 0 .25rem !important;

				a {
					@include media-breakpoint-down(sm) {
						display: block;
						height: 40px !important;
						line-height: 0;
						width: 40px !important;
					}
				}
			}

			.item-instagram {
				@include media-breakpoint-down(sm) {
					width: 40px;
				}

				width: 40px;
			}
		}
	}

	.by-brand,
	.date {
		color: $color-grayscale-2;
		display: block;
		font-size: 12px;
		letter-spacing: .92px;
		line-height: 14px;
	}

	.by-brand {
		@include media-breakpoint-down(md) {
			margin: 20px 0 0;
		}

		@include media-breakpoint-down(sm) {
			margin: 0;
		}
	}
}

.page-template-page-single-recipe {
	.featured-recipes-home {
		.title {
			padding-bottom: 0 !important;
			padding-top: 10px !important;
		}

		.pr-snippet-review-count {
			color: $color-main;
			font-weight: bold;
		}
	}

	.recipe-share {
		@include media-breakpoint-down(md) {
			.ssbp--theme-6 {
				.ssbp-list {
					li {
						a {
							height: 32px !important;
							width: 32px !important;

							&::before {
								font-size: 15px;
								line-height: 31px !important;
							}
						}
					}
				}
			}
		}
	}
}

.search-filter-reset {
	@include btn-main;
	padding: .875rem 3rem;
}

@media (max-width: 414px) {
	.recipe-main {
		.recipe-information {
			margin: 0 auto;
			max-width: 250px;

			.information-item {
				width: 100%;
			}
		}
	}
}
