@import '../../plugins/bootstrap/scss/functions';
@import '../../plugins/bootstrap/scss/variables';
@import '../../plugins/bootstrap/scss/mixins';
@import '../mixins';

.search-page-title {
	color: $color-dark;
	padding: 1.5rem 2rem;

	p,
	span {
		font-family: 'vagroundedstd-bold';
		font-size: 28px;
		letter-spacing: 1.58px;
		margin: 40px auto 0;
		text-align: center;
	}

	span {
		color: $color-main;
	}
}

.search-result {
	padding: 30px 0;

	.item-search {
		@include media-breakpoint-down(md) {
			flex-direction: column;
		}

		align-items: center;
		border-bottom: solid 1px $color-main;
		display: flex;
		justify-content: flex-start;
		padding: 20px;

		img {
			@include media-breakpoint-down(md) {
				margin: 10px 0 30px;
			}

			max-height: 140px;
			max-width: 140px;
		}

		article {
			@include media-breakpoint-down(sm) {
				margin: 0;
				text-align: center;
				width: 100%;
			}

			margin-left: 20px;
			width: 65%;

			p {
				font-size: 14px;
				letter-spacing: 1px;
				line-height: 20px;
			}

			.entry-title {
				a {
					color: $color-secondary;
					font-family: 'vagroundedstd-bold';
					font-size: 21px;
					line-height: 24px;
					text-decoration: underline;

					&:hover {
						color: $color-main-hover;
					}
				}
			}

			.entry-summary {
				ul {
					list-style: none;
					padding: 0;
				}
			}
		}
	}

	.navigation {
		font-size: 18px;
		margin: auto;
		padding-top: 26px;

		.page-numbers {
			color: $color-dark;
			margin: 0 3px;
		}

		.current,
		.prev,
		.next {
			color: $color-main;
			font-size: 18px;
		}
	}

	.accordion-content {
		width: 100%;

		.card-body {
			padding: 0;
		}

		.nav-tabs {
			border-bottom: 1px solid $color-main;
			justify-content: center;
		}

		button {

			@include media-breakpoint-down(sm) {
				font-size: 18px;
			}

			background: $color-secondary;
			border-radius: 35px 35px 0 0;
			color: $color-light;
			font-family: 'vagroundedstd-bold';
			height: 50px;
			transition: all .2s ease-in-out;
			width: 220px;

			&.collapsed {
				background-color: $green-transparent2;
				color: $color-secondary;

				&:hover {
					color: $color-secondary;
				}
			}

			&:hover,
			&:focus {
				-webkit-transform: scale(1.03);
				color: $color-light;
				text-decoration: none;
				transform: scale(1.03);
			}
		}
	}

	.not-found {
		text-align: center;

		header {
			background: none;

			h1 {
				font-size: 40px;
				line-height: normal;
				margin: 0 auto 15px;
			}
		}

		.page-content {
			text-align: center;
		}

		.input-search {
			background: $color-main;
			border: 0;
			border-radius: 5px;
			color: $color-light;
			padding: 5px 10px;

			&:focus {
				outline: none;
			}
		}

		.search-submit {
			color: $color-main;
		}
	}
}

@media (max-width: 576px) {
	.search-result {
		padding: 20px 0 0;

		.accordion-content {
			button {
				width: 180px;
			}
		}
	}
}
