.contact-page .bg-main {
  background-image: url("../../../img/featured-recipes-texture-bg.png");
  background-position: center;
  background-size: contain;
  color: #000; }
  .contact-page .bg-main a {
    color: #20c1dc; }
    .contact-page .bg-main a:hover {
      color: #0cd3f5; }

.contact-page span.title {
  font-family: 'vagroundedstd-bold' !important;
  font-size: 21px;
  letter-spacing: .9px; }

.contact-page .text {
  margin-bottom: 50px; }

.contact-page h1 {
  color: #000;
  font-family: 'vagroundedstd-bold';
  font-size: 38px;
  letter-spacing: 1.6px;
  line-height: normal;
  margin-bottom: 40px;
  margin-top: 40px;
  text-transform: uppercase; }

.contact-page h3 {
  color: #000;
  font-family: 'vagroundedstd-bold';
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 40px; }

.contact-page p {
  font-size: 20px;
  line-height: 1.5; }

.contact-page .form-contact {
  margin-bottom: 7rem;
  margin-top: 30px; }
  .contact-page .form-contact textarea {
    background-color: rgba(242, 242, 242, 0.5);
    border: 0; }
  .contact-page .form-contact input[type='text'], .contact-page .form-contact input[type='number'], .contact-page .form-contact input[type='email'] {
    background-color: rgba(242, 242, 242, 0.5);
    border: 0;
    height: 50px; }
  .contact-page .form-contact input[type='submit'] {
    border: 0;
    border-radius: 100px;
    font-family: 'vagroundedstd-bold' !important;
    height: 50px;
    letter-spacing: 0;
    line-height: 1.3 !important;
    margin-top: 2rem;
    padding: 12px 2rem; }
  .contact-page .form-contact .form-control {
    border-radius: 1px; }
    .contact-page .form-contact .form-control::-webkit-input-placeholder {
      color: #000; }
    .contact-page .form-contact .form-control::-ms-input-placeholder {
      color: #000; }
    .contact-page .form-contact .form-control::placeholder {
      color: #000; }
  .contact-page .form-contact br {
    display: none; }
  .contact-page .form-contact span.wpcf7-form-control-wrap {
    display: block;
    margin-bottom: 20px; }
  .contact-page .form-contact .wpcf7-submit {
    border: 0;
    padding: 10px 30px; }

.contact-page .check {
  border: 0 !important;
  padding: 0 !important; }
  .contact-page .check .wpcf7-list-item {
    display: block;
    margin-left: 0; }
    .contact-page .check .wpcf7-list-item .wpcf7-list-item-label {
      color: #000;
      font-size: 16px;
      margin-left: 10px; }

.contact-page .question {
  height: 101px; }

.terms-policy-cont {
  background-color: #fff;
  border: 1px solid;
  height: 120px;
  margin-top: 2rem;
  overflow-y: scroll;
  padding: 1rem; }
  .terms-policy-cont h3 {
    font-size: 18px;
    margin: 0;
    text-align: center; }
  .terms-policy-cont p {
    font-size: 16px;
    line-height: normal; }
