.coupons-container {
  padding-top: 3rem; }
  .coupons-container h1 {
    font-size: 42px;
    letter-spacing: .03px;
    margin-bottom: 2rem; }
    @media (max-width: 767.98px) {
      .coupons-container h1 {
        font-size: 35px;
        line-height: normal; } }

.featured-category {
  background-image: url("../../../img/bg-featured-category.jpg");
  background-position: 54% center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 4rem 0 5rem; }
  .featured-category figure.category-img {
    margin-top: -5rem; }
    @media (max-width: 767.98px) {
      .featured-category figure.category-img {
        margin-top: 8rem; } }
    @media (max-width: 1199.98px) {
      .featured-category figure.category-img {
        margin: 0 auto;
        max-width: 300px; } }

.page-template-coupons .pr-category-snippet {
  align-items: center;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto !important; }
  .page-template-coupons .pr-category-snippet .pr-category-snippet__item {
    display: block;
    width: 100%; }

@media (max-width: 991.98px) {
  .page-template-coupons .items-products {
    justify-content: center; } }

@media (max-width: 767.98px) {
  .page-template-coupons .items-products {
    justify-content: normal; }
    .page-template-coupons .items-products.page-products .item .link-product.product-img figure {
      max-height: 158px;
      min-height: 158px; }
      .page-template-coupons .items-products.page-products .item .link-product.product-img figure img {
        max-width: 100% !important; } }

@media (max-width: 767.98px) {
  .page-template-coupons .trending-products h3 {
    margin: 40px 0 45px; } }

@media (max-width: 991.98px) {
  .page-template-coupons .trending-products .link-product img {
    max-width: 80% !important; } }

.trending-products {
  padding-top: 3rem; }
  @media (max-width: 767.98px) {
    .trending-products {
      padding-top: 6rem; } }
  .trending-products h3 {
    font-size: 32px; }

 .video-container {
    position: relative;
     width: 100%;
     height: 0;
     padding-bottom: 36%;
 }
 .video-container-video {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border: none;
 }