.faq-page h1 {
  background-color: #20c1dc;
  color: #fff;
  font-family: 'vagroundedstd-bold';
  font-size: 38px;
  letter-spacing: 1.6px;
  line-height: normal;
  margin-bottom: 0;
  padding: .344rem 0;
  text-align: center; }

.faq-page .cont-tabs {
  padding-bottom: 5rem; }
  .faq-page .cont-tabs h3 {
    font-family: 'vagroundedstd-bold';
    font-size: 24px;
    letter-spacing: 1px; }
  .faq-page .cont-tabs .faqs-toggle .faq-item {
    border-bottom: 1px solid #9b9b9b; }
    .faq-page .cont-tabs .faqs-toggle .faq-item > div {
      padding-left: 5px; }
    .faq-page .cont-tabs .faqs-toggle .faq-item h4 {
      font-family: 'barlow-bold';
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 24px; }
    .faq-page .cont-tabs .faqs-toggle .faq-item i {
      background: transparent;
      border: 0;
      left: inherit;
      right: 0; }
      .faq-page .cont-tabs .faqs-toggle .faq-item i::after {
        background-color: transparent;
        background-image: url("../../../img/toggle-arrow.png");
        background-position: center;
        background-size: cover;
        content: '';
        height: 11px;
        left: 0;
        top: 0;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        width: 15px; }
      .faq-page .cont-tabs .faqs-toggle .faq-item i::before {
        content: none; }
    .faq-page .cont-tabs .faqs-toggle .faq-item p {
      color: #545454;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 1.43; }
    .faq-page .cont-tabs .faqs-toggle .faq-item[class*='active'] i::after {
      content: '';
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      visibility: visible; }

.faq-page .announcer-bar {
  background-color: #ebf5cc; }
  .faq-page .announcer-bar .btn-main {
    font-family: 'vagroundedstd-bold';
    min-width: 160px; }

.faq-page .contact-faq {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .94rem 0; }
  .faq-page .contact-faq p {
    font-size: 22px;
    margin-bottom: 0; }
  .faq-page .contact-faq .btn-primary {
    background-color: #20c1dc;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-family: 'vagroundedstd-bold';
    font-size: 16px;
    letter-spacing: 2pt;
    line-height: 22pt;
    padding: 14px;
    text-transform: uppercase; }
    .faq-page .contact-faq .btn-primary:hover {
      background-color: #0cd3f5; }
