.faq-page h1 {
  font-size: 42px;
  margin: 40px 0;
  text-align: center; }

.faq-page .card-body {
  font-size: 18px;
  text-align: left; }

.faq-page .pagination {
  justify-content: center;
  margin: 2rem 0; }
  .faq-page .pagination a {
    color: #20c1dc; }
  .faq-page .pagination .page-numbers {
    color: #20c1dc;
    font-family: 'vagroundedstd-bold';
    font-size: 22px; }
    .faq-page .pagination .page-numbers + .page-numbers {
      margin-left: .5rem; }
    .faq-page .pagination .page-numbers.current {
      color: #000; }

.faq-page .upc-normal {
  display: none; }

.faq-page .form-custom {
  font-family: 'vagroundedstd-light';
  text-align: center; }
  .faq-page .form-custom small {
    color: #9b9b9b;
    font-size: 16px;
    line-height: 22px; }
  .faq-page .form-custom label {
    font-family: 'vagroundedstd-light'; }
  .faq-page .form-custom input,
  .faq-page .form-custom textarea,
  .faq-page .form-custom select {
    background-color: #fff;
    border: 1px solid #9b9b9b;
    border-radius: 0;
    color: #9b9b9b;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 1rem;
    margin-top: 10px; }
    .faq-page .form-custom input[type='submit'],
    .faq-page .form-custom textarea[type='submit'],
    .faq-page .form-custom select[type='submit'] {
      background-color: #b3d82b;
      border-radius: 100px;
      color: #fff;
      font-family: 'vagroundedstd-bold';
      font-size: 18px;
      line-height: 22px;
      min-width: 190px;
      padding: .813rem 1rem;
      border: 0; }
      .faq-page .form-custom input[type='submit']:hover,
      .faq-page .form-custom textarea[type='submit']:hover,
      .faq-page .form-custom select[type='submit']:hover {
        background-color: #98b822;
        color: #fff;
        text-decoration: none; }
  .faq-page .form-custom select {
    border: 0;
    height: 50px !important;
    margin: 10px 0;
    outline: 1px solid #9b9b9b;
    outline-offset: -1px;
    padding: 10px 16px;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("../../../img/pages/faq/arrow-down-select.svg");
    background-position: 94% 50%;
    background-size: 23px;
    background-repeat: no-repeat; }
  .faq-page .form-custom input:not([type='checkbox']) {
    height: 50px; }

figure {
  margin: 0; }

.faq-product {
  text-align: center; }
  .faq-product figure {
    background-repeat: no-repeat;
    background-size: contain;
    height: 170px;
    margin: auto;
    text-align: center;
    width: 170px; }
    .faq-product figure.faq {
      background-image: url("../../../img/pages/faq/faq.png"); }
    .faq-product figure.product-feedback {
      background-image: url("../../../img/pages/faq/product-feedback.png"); }
  .faq-product .faq-top-icons .btn-link {
    color: #20c1dc;
    white-space: normal; }
    .faq-product .faq-top-icons .btn-link[aria-expanded='false'] {
      color: #20c1dc; }
    .faq-product .faq-top-icons .btn-link[aria-expanded='true'] {
      color: #1ba2b8; }
      .faq-product .faq-top-icons .btn-link[aria-expanded='true'] figure.faq {
        background-image: url("../../../img/pages/faq/faq-dark.png"); }
      .faq-product .faq-top-icons .btn-link[aria-expanded='true'] figure.product-feedback {
        background-image: url("../../../img/pages/faq/product-feedback-dark.png"); }
    .faq-product .faq-top-icons .btn-link:hover, .faq-product .faq-top-icons .btn-link:active {
      color: #1ba2b8;
      cursor: pointer;
      text-decoration: none; }
      .faq-product .faq-top-icons .btn-link:hover figure.faq, .faq-product .faq-top-icons .btn-link:active figure.faq {
        background-image: url("../../../img/pages/faq/faq-dark.png"); }
      .faq-product .faq-top-icons .btn-link:hover figure.product-feedback, .faq-product .faq-top-icons .btn-link:active figure.product-feedback {
        background-image: url("../../../img/pages/faq/product-feedback-dark.png"); }
    .faq-product .faq-top-icons .btn-link h4 {
      font-size: 28px;
      margin: 15px 0;
      text-transform: none; }
      @media (max-width: 767.98px) {
        .faq-product .faq-top-icons .btn-link h4 {
          font-size: 20px; } }

.faqs-info {
  background-color: #f1f1f1;
  margin: 40px 0 0; }
  @media (max-width: 767.98px) {
    .faqs-info .collapse-feedback-custom .card-body {
      padding: 10px 0; } }
  .faqs-info .collapse-feedback-custom .wpcf7-form-control.btn-primary {
    font-family: 'vagroundedstd-bold'; }
  .faqs-info h4 {
    font-size: 28px;
    line-height: 46px;
    margin-bottom: 2rem; }
  .faqs-info button:focus {
    text-decoration: none; }
  .faqs-info .nav-custom {
    border-bottom: 1px solid #20c1dc; }
    .faqs-info .nav-custom button {
      background: #b3d82b;
      border-radius: 35px 35px 0 0;
      color: #fff;
      font-family: 'vagroundedstd-bold';
      height: 50px;
      transition: all .2s ease-in-out;
      width: 220px; }
      @media (max-width: 991.98px) {
        .faqs-info .nav-custom button {
          width: 200px; } }
      @media (max-width: 767.98px) {
        .faqs-info .nav-custom button {
          width: 155px; } }
      .faqs-info .nav-custom button.collapsed {
        background-color: rgba(179, 216, 43, 0.2);
        color: #b3d82b; }
        .faqs-info .nav-custom button.collapsed:hover {
          color: #b3d82b; }
      .faqs-info .nav-custom button:hover, .faqs-info .nav-custom button:focus {
        -webkit-transform: scale(1.03);
        color: #fff;
        transform: scale(1.03); }
  .faqs-info .collapse-questions button {
    white-space: initial; }
    @media (max-width: 991.98px) {
      .faqs-info .collapse-questions button {
        line-height: 1.5 !important; } }
  .faqs-info .card-header-custom {
    border-bottom: 1px solid #20c1dc;
    text-align: left; }
    .faqs-info .card-header-custom button {
      color: #000;
      font-family: 'vagroundedstd-bold';
      font-size: 18px;
      line-height: 1.5;
      padding: 10px 10px 10px 0;
      text-align: left;
      width: 100%; }
      @media (max-width: 991.98px) {
        .faqs-info .card-header-custom button {
          position: relative; }
          .faqs-info .card-header-custom button::after {
            bottom: 0;
            position: absolute;
            right: 10px;
            top: 5px; } }
      @media (max-width: 767.98px) {
        .faqs-info .card-header-custom button {
          font-size: 16px; } }
      .faqs-info .card-header-custom button::after {
        color: #20c1dc;
        display: inline-block;
        float: right;
        font-family: 'Font Awesome 5 Free';
        font-size: 14px;
        font-weight: 900;
        margin-top: 5px; }
      .faqs-info .card-header-custom button[aria-expanded='false']::after {
        content: '\f078'; }
      .faqs-info .card-header-custom button[aria-expanded='true']::after {
        content: '\f077'; }

.contact-info .contact-btn {
  border-bottom: 3px solid #20c1dc;
  border-top: 3px solid #20c1dc;
  margin: 40px 0 70px;
  padding: 1rem 0;
  text-align: center; }
  .contact-info .contact-btn:hover {
    cursor: pointer; }
  .contact-info .contact-btn h4 {
    font-family: 'vagroundedstd-light';
    font-size: 28px;
    margin: 0; }
    .contact-info .contact-btn h4 span {
      color: #20c1dc;
      font-size: 28px;
      padding-left: 40px; }
      @media (max-width: 767.98px) {
        .contact-info .contact-btn h4 span {
          padding: 0; } }

.contact-info .collapse-contact {
  background-color: #f1f1f1; }
  @media (max-width: 767.98px) {
    .contact-info .collapse-contact {
      margin: 45px 0 0; }
      .contact-info .collapse-contact .card-body {
        padding: 10px 0; } }
  .contact-info .collapse-contact h4 {
    font-family: 'vagroundedstd-bold';
    font-size: 28px;
    margin: 2rem 0;
    text-align: center; }

.contact-info .support-call {
  margin-bottom: 2rem;
  margin-top: 3rem; }
  .contact-info .support-call p {
    color: #9b9b9b;
    font-family: 'vagroundedstd-light';
    font-size: 16px;
    line-height: 22px;
    margin: 0; }

.contact-info .form-info {
  text-align: left; }
  .contact-info .form-info small {
    color: #9b9b9b;
    font-size: 16px; }
  .contact-info .form-info .accept-terms .wpcf7-list-item {
    margin: 0 !important; }
    .contact-info .form-info .accept-terms .wpcf7-list-item label {
      margin: 0; }
    .contact-info .form-info .accept-terms .wpcf7-list-item a {
      color: #20c1dc; }
  .contact-info .form-info .wpcf7-list-item {
    margin: 0; }
    .contact-info .form-info .wpcf7-list-item .wpcf7-list-item-label {
      font-size: 16px; }
  .contact-info .form-info .product-content input {
    margin: 5px 0; }
  .contact-info .form-info .wpcf7-form input {
    margin: 10px 0; }
  .contact-info .form-info .wpcf7-form p {
    margin: 0; }
  .contact-info .form-info .wpcf7-form .wpcf7-submit {
    background: #b3d82b;
    border: 0;
    border-radius: 100px;
    font-family: 'vagroundedstd-bold';
    font-size: 18px;
    font-weight: 400;
    padding: 7px 30px; }

@media (max-width: 576px) {
  .faqs-info .nav-custom button {
    border-radius: 25px 25px 0 0;
    font-size: 14px;
    width: 95px; }
  .faqs-info .collapse-questions button {
    white-space: initial; }
    .faqs-info .collapse-questions button::before {
      content: ''; } }

@media (max-width: 475px) {
  .faq-page h1 {
    font-size: 42px;
    letter-spacing: .03px;
    line-height: 46px;
    margin: 30px 0; }
  .faq-product .btn-link h4 {
    font-size: 22px;
    line-height: 26px;
    white-space: initial; }
  .faq-product figure {
    background-size: contain;
    height: 110px;
    margin: auto;
    width: 110px; }
  .contact-info .contact-btn h4 {
    font-size: 18px; }
    .contact-info .contact-btn h4 span {
      display: block;
      font-size: 18px;
      width: 100%; } }
