@media (max-width: 767.98px) {
  .home footer {
    margin-top: 3rem; } }

.banner-home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
  margin-bottom: 3rem;
  position: relative; }
  @media (max-width: 575.98px) {
    .banner-home {
      height: 350px;
      margin-bottom: 2rem; } }
  @media (max-width: 767.98px) {
    .banner-home figure img {
      max-height: 250px;
      min-height: 250px;
      -o-object-fit: cover;
         object-fit: cover; } }
  .banner-home .product-banner {
    bottom: -3rem;
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0; }
    @media (max-width: 575.98px) {
      .banner-home .product-banner {
        bottom: 5rem; } }
  .banner-home .owl-nav {
    display: none; }
    .banner-home .owl-nav .owl-prev,
    .banner-home .owl-nav .owl-next {
      position: absolute;
      top: 40%; }
    .banner-home .owl-nav .owl-next {
      right: 1rem; }
    .banner-home .owl-nav .owl-prev {
      left: 1rem; }
  .banner-home .owl-dots {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100px; }
  .banner-home .cont-item .item {
    max-height: 530px;
    min-height: 530px; }
    .banner-home .cont-item .item img {
      height: 530px;
      -o-object-fit: cover;
         object-fit: cover; }
  .banner-home .slide-description {
    background-color: #20c1dc;
    background-image: url("../../../img/pattern-background-green.jpg");
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 8rem; }
    @media (max-width: 767.98px) {
      .banner-home .slide-description {
        padding: 3rem; }
        .banner-home .slide-description .item {
          flex-direction: column-reverse; } }
    .banner-home .slide-description h2 {
      font-family: 'vagroundedstd-bold';
      font-size: 70px;
      letter-spacing: 2.9px;
      line-height: 75px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); }
      @media (max-width: 767.98px) {
        .banner-home .slide-description h2 {
          font-size: 40px;
          line-height: 1; } }
    .banner-home .slide-description .description {
      font-family: 'barlow-bold';
      font-size: 21px;
      letter-spacing: 1px;
      line-height: 27px;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
    .banner-home .slide-description .buttons {
      align-items: center;
      display: flex; }
      @media (max-width: 767.98px) {
        .banner-home .slide-description .buttons {
          justify-content: center; } }
      .banner-home .slide-description .buttons a + a {
        margin-left: 1rem; }

.cont-recipes {
  background-color: rgba(137, 211, 229, 0.2);
  padding: 2rem 0;
  text-align: center; }
  .cont-recipes h2 {
    font-family: 'vagroundedstd-bold';
    font-size: 28px;
    line-height: 46px; }
  .cont-recipes .recipes {
    margin: 2rem 0; }
  .cont-recipes.list-recipes .btn-main {
    min-width: 220px; }

.list-recipes .item {
  transition: ease .3s; }
  @media (max-width: 991.98px) {
    .list-recipes .item {
      margin: 0 0 30px; } }
  .list-recipes .item .link-recipe {
    display: block;
    margin: 0 auto;
    width: 220px; }
    @media (max-width: 991.98px) {
      .list-recipes .item .link-recipe {
        width: auto !important; } }
    .list-recipes .item .link-recipe figure {
      margin: 0 auto .8rem; }
      .list-recipes .item .link-recipe figure .bg-img {
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        height: 220px;
        margin: 0 auto;
        width: 220px; }
        @media (max-width: 991.98px) {
          .list-recipes .item .link-recipe figure .bg-img {
            height: 158px;
            width: 158px; } }
      .list-recipes .item .link-recipe figure img {
        border-radius: 50%;
        display: none;
        transition: ease .3s; }
    .list-recipes .item .link-recipe .title-recipe {
      color: #000;
      font-family: 'vagroundedstd-bold';
      font-size: 18px;
      letter-spacing: 0;
      line-height: 21px;
      margin: 0; }
  .list-recipes .item:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
    .list-recipes .item:hover .link-recipe {
      text-decoration: none; }
    .list-recipes .item:hover img {
      box-shadow: 0 0 40px -7px rgba(0, 0, 0, 0.4);
      transition: ease .3s; }
  .list-recipes .item .cont-reviews a {
    color: #20c1dc;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 17px; }

.cont-videos {
  padding: 3rem 0 0;
  text-align: center; }
  .cont-videos h2 {
    font-family: 'vagroundedstd-bold';
    font-size: 28px;
    line-height: 46px; }
  .cont-videos .videos {
    margin: 2rem 0; }
    .cont-videos .videos .cont-item a {
      display: block; }
      .cont-videos .videos .cont-item a:hover {
        text-decoration: none; }
        .cont-videos .videos .cont-item a:hover figure::before {
          content: none; }
        .cont-videos .videos .cont-item a:hover figure img {
          -webkit-transform: rotateY(180deg);
                  transform: rotateY(180deg); }
    .cont-videos .videos .cont-item figure {
      background-clip: content-box;
      background-image: url("../../../img/bg-video.png");
      background-size: cover;
      margin: 0 auto;
      -webkit-perspective: 800px;
              perspective: 800px;
      -webkit-perspective-origin: 50% 100px;
              perspective-origin: 50% 100px;
      position: relative;
      width: 100%; }
      .cont-videos .videos .cont-item figure::before {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        content: '';
        display: none;
        height: 100%;
        left: 0;
        position: absolute;
        transition: .3s ease;
        width: 100%;
        z-index: 1; }
      .cont-videos .videos .cont-item figure::after {
        background-image: url("../../../img/play-button.png");
        background-position: center;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        height: 100px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        z-index: 0; }
        @media (max-width: 575.98px) {
          .cont-videos .videos .cont-item figure::after {
            height: 50px;
            width: 50px; } }
      .cont-videos .videos .cont-item figure img {
        overflow: hidden;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        transition: .3s ease; }
    .cont-videos .videos .item {
      margin: 0 auto;
      max-width: 300px;
      min-height: 300px; }
      .cont-videos .videos .item figure {
        border-radius: 50%; }
      .cont-videos .videos .item p {
        color: #000;
        font-family: 'vagroundedstd-bold';
        font-size: 22px;
        letter-spacing: .03px;
        line-height: 28px;
        margin: 1rem auto 0;
        max-width: 80%; }
        @media (max-width: 575.98px) {
          .cont-videos .videos .item p {
            font-size: 18px;
            max-width: 100%; } }
    .cont-videos .videos .center .item {
      opacity: 1; }
      .cont-videos .videos .center .item figure {
        height: 220px;
        width: 220px; }
        .cont-videos .videos .center .item figure::before {
          content: none; }
        .cont-videos .videos .center .item figure::after {
          display: block; }
        .cont-videos .videos .center .item figure img {
          -webkit-transform: rotateY(180deg);
                  transform: rotateY(180deg); }
    .cont-videos .videos .owl-nav {
      display: flex;
      justify-content: space-between;
      left: -2rem;
      position: absolute;
      right: -2rem;
      top: 30%;
      z-index: -1; }
      @media (max-width: 1199.98px) {
        .cont-videos .videos .owl-nav {
          left: -10px;
          right: -10px; } }
      @media (max-width: 767.98px) {
        .cont-videos .videos .owl-nav {
          left: 4rem;
          right: 4rem; } }
      .cont-videos .videos .owl-nav button:focus, .cont-videos .videos .owl-nav button:hover {
        background: none;
        outline: none; }

.btn-chis-white {
  background-color: #fff;
  border-radius: 25px !important;
  color: #000;
  font-family: 'vagroundedstd-bold';
  font-size: 14px !important;
  letter-spacing: 1px;
  padding: .85rem 2rem !important; }

.text-under-banner {
  background-image: url("../../../img/text-under-banner.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  .text-under-banner.text-product {
    background-image: url("../../../img/featured-recipes-texture-bg.png");
    background-position: center;
    background-size: contain; }
    .text-under-banner.text-product h1 {
      color: #fff;
      font-family: 'vagroundedstd-bold';
      font-size: 38px;
      letter-spacing: 1.6px;
      line-height: 46px;
      margin-bottom: 3rem;
      margin-top: -6rem;
      min-width: 458px;
      padding: 1.7rem 2rem;
      position: relative;
      text-align: center;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      z-index: 4; }
    .text-under-banner.text-product p {
      font-family: 'barlow-regular';
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 1.63;
      margin-bottom: 0; }

.cont-categories .link-product:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }

.single-products .products-home .items-products .item .link-product::before {
  top: 0 !important; }

.page-template-home .products-home .items-products .item .link-product::before {
  top: 30px !important; }

@media (max-width: 575.98px) {
  .products-home {
    padding-bottom: 0; } }

.products-home .items-products .item {
  margin-bottom: 30px;
  transition: ease .6s; }
  @media (max-width: 575.98px) {
    .products-home .items-products .item {
      margin-bottom: 1rem; }
      .products-home .items-products .item:last-child {
        margin-bottom: 5rem; } }
  .products-home .items-products .item .link-product {
    margin: 0 auto;
    width: 220px;
    color: #000;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: ease .3s; }
    @media (max-width: 991.98px) {
      .products-home .items-products .item .link-product {
        width: auto !important; } }
    @media (max-width: 1199.98px) {
      .products-home .items-products .item .link-product::before {
        background-color: transparent; }
      .products-home .items-products .item .link-product:hover::before {
        opacity: 0 !important; } }
    @media (max-width: 767.98px) {
      .products-home .items-products .item .link-product img {
        max-width: 95%; } }
    .products-home .items-products .item .link-product figure {
      display: block;
      margin: 0 auto !important;
      max-width: 220px;
      min-height: 220px; }
      @media (max-width: 991.98px) {
        .products-home .items-products .item .link-product figure {
          max-height: inherit;
          min-height: inherit; } }
    .products-home .items-products .item .link-product::before {
      background-color: #b3d82b;
      border-radius: 50%;
      content: '';
      display: block;
      height: 180px;
      left: 0;
      margin: 0 auto;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0 !important;
      -webkit-transform: scale(0);
              transform: scale(0);
      transition: all .4s ease-in-out;
      width: 180px;
      z-index: -1; }
    .products-home .items-products .item .link-product:hover::before {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); }
    .products-home .items-products .item .link-product[href*='p-b-']::before, .products-home .items-products .item .link-product[href*='pb-']::before, .products-home .items-products .item .link-product[href*='pb_']::before {
      top: 5% !important; }
  .products-home .items-products .item:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
    .products-home .items-products .item:hover .link-product {
      color: #20c1dc; }

.products-home .items-products.page-products .item .link-product {
  display: block; }
  .products-home .items-products.page-products .item .link-product.product-img figure {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    width: 220px; }
    @media (max-width: 991.98px) {
      .products-home .items-products.page-products .item .link-product.product-img figure {
        width: auto; } }
    .products-home .items-products.page-products .item .link-product.product-img figure .img-product {
      height: 220px;
      width: 220px; }
      @media (max-width: 991.98px) {
        .products-home .items-products.page-products .item .link-product.product-img figure .img-product {
          height: 158px;
          width: 158px; } }
  .products-home .items-products.page-products .item .link-product.product-img p {
    color: #000; }
  .products-home .items-products.page-products .item .link-product.product-img small {
    font-family: 'barlow-bold';
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase; }

.products-home.product-category .item .link-product {
  display: block; }
  .products-home.product-category .item .link-product figure {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 220px; }
    @media (max-width: 991.98px) {
      .products-home.product-category .item .link-product figure {
        width: 158px; } }
    .products-home.product-category .item .link-product figure .img-product {
      height: 220px;
      width: 220px; }
      @media (max-width: 991.98px) {
        .products-home.product-category .item .link-product figure .img-product {
          height: 158px;
          width: 158px; } }
  .products-home.product-category .item .link-product p {
    color: #000; }
  .products-home.product-category .item .link-product small {
    font-family: 'vagroundedstd-bold';
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase; }

.featured-recipes-home {
  padding-top: 10px; }
  .featured-recipes-home .title {
    padding: 2rem 0 3rem; }
  .featured-recipes-home .show-more {
    padding: 3rem 0 5rem; }
  .featured-recipes-home .recipes {
    max-height: 500px;
    min-height: 500px; }
    @media (max-width: 767.98px) {
      .featured-recipes-home .recipes {
        flex-direction: column-reverse !important; } }
    .featured-recipes-home .recipes:nth-child(3n+1) {
      background: #93d500; }
    .featured-recipes-home .recipes:nth-child(3n+2) {
      background: #ff7d3c; }
    .featured-recipes-home .recipes:nth-child(3n+3) {
      background: #522d6d; }
    .featured-recipes-home .recipes figure {
      margin-bottom: 0; }
      .featured-recipes-home .recipes figure img {
        min-height: 500px;
        -o-object-fit: cover;
           object-fit: cover; }
    .featured-recipes-home .recipes .item {
      height: 48%;
      margin-bottom: 20px; }
    .featured-recipes-home .recipes .recipes-item {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center; }
      @media (max-width: 991.98px) {
        .featured-recipes-home .recipes .recipes-item {
          margin-bottom: 20px; } }
      .featured-recipes-home .recipes .recipes-item .info {
        color: #fff;
        display: flex;
        flex-direction: column;
        font-family: 'vagroundedstd-bold';
        font-size: 18px;
        font-weight: inherit;
        justify-content: space-around;
        margin: 0;
        padding: 1rem 1rem .5rem;
        text-align: center; }
        .featured-recipes-home .recipes .recipes-item .info p {
          color: #fff;
          font-family: 'vagroundedstd-bold' !important;
          font-size: 24px;
          letter-spacing: 1px;
          line-height: normal;
          margin: 0; }
        .featured-recipes-home .recipes .recipes-item .info a {
          margin: 1rem auto 0;
          max-width: 150px;
          padding: .8rem 2rem !important; }
      .featured-recipes-home .recipes .recipes-item:hover img {
        -webkit-transform: scale(1.05);
                transform: scale(1.05); }

.news .post-news {
  margin-top: 2rem; }
  .news .post-news .news-item.left {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 4rem;
    min-height: 595px; }
    @media (max-width: 575.98px) {
      .news .post-news .news-item.left {
        margin-left: 0; } }
  .news .post-news .news-item.right {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 288px;
    position: relative; }
    .news .post-news .news-item.right:first-child {
      margin-bottom: 1rem; }
    .news .post-news .news-item.right:hover .info {
      visibility: visible;
      z-index: 2; }
    .news .post-news .news-item.right:hover::before {
      background-color: rgba(251, 220, 0, 0.8); }
  .news .post-news .news-item a {
    display: block; }
  .news .post-news .news-item::before {
    align-items: center;
    background-color: transparent;
    bottom: 0;
    color: #fff;
    content: '';
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: ease .3s;
    z-index: 1; }
  .news .post-news .info h4 {
    font-family: 'vagroundedstd-bold';
    font-size: 18px;
    letter-spacing: 1px;
    line-height: normal; }
  .news .post-news .info .description * {
    font-family: 'barlow-regular';
    font-size: 16px;
    line-height: 20px; }
  .news .post-news .info .link {
    font-family: 'vagroundedstd-bold';
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: underline; }
  .news .post-news .info.yellow {
    bottom: 17%;
    left: 0;
    padding: 0 2rem;
    position: absolute;
    right: 0;
    transition: ease .3s;
    visibility: hidden; }
    .news .post-news .info.yellow * {
      color: #000; }
  .news .post-news .info.red {
    background-color: rgba(220, 30, 53, 0.9);
    bottom: 10%;
    color: #fff;
    left: 0;
    max-width: 460px;
    padding: 2rem 1.5rem;
    position: absolute;
    z-index: 2; }
    .news .post-news .info.red * {
      color: #fff; }

@media (max-width: 578px) {
  .banner-home {
    margin-bottom: 90px; }
    .banner-home .product-banner {
      display: block;
      margin-bottom: -5rem; } }

@media (max-width: 767px) {
  .cont-videos .videos .owl-nav {
    display: none; }
  .nav-middle .widget-title {
    position: relative; }
    .nav-middle .widget-title::before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #20c1dc;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: -20px; } }

@media (min-width: 1440px) {
  .banner-home figure img {
    width: 100%; } }
