[data-status='inactive'] {
  display: none; }

[data-status='active'] {
  display: block; }

.cont-categories {
  background-color: rgba(137, 211, 229, 0.2);
  padding: 2.63rem 3rem; }
  @media (max-width: 767.98px) {
    .cont-categories {
      padding: 30px 0 0; } }
  .cont-categories h1 {
    color: #000;
    font-family: 'vagroundedstd-bold';
    font-size: 42px;
    letter-spacing: .03px;
    line-height: 36px;
    margin-bottom: 0;
    margin-top: 2rem;
    text-align: center;
    text-transform: capitalize; }
    .cont-categories h1 sup {
      font-size: 27px; }
  .cont-categories .products-home .link-product p {
    margin: 10px 0 0; }

@media (max-width: 1199.98px) {
  .single-products .pr-category-snippet {
    margin: 10px auto !important; } }

.single-products .pr-category-snippet .pr-category-snippet__item {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%; }

.single-products .reviews-single .p-w-r .pr-category-snippet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px 0 !important; }

.page-template-single-all-products .cont-categories .products-home .items-products .item .link-product::before {
  top: 25px !important; }

.page-template-single-all-products .products-home .items-products .item.new-product .link-product::before {
  top: 45px !important; }

.single-products.reviews-single .products-home .items-products .item.new-product .link-product::before {
  top: 45px !important; }

.banner-product {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  max-height: 500px;
  min-height: 500px;
  padding-top: 2rem;
  position: relative;
  text-align: center; }
  @media (min-width: 992px) {
    .banner-product {
      margin-bottom: 3rem; } }
  @media (max-width: 991.98px) {
    .banner-product {
      margin-bottom: 2rem; } }
  .banner-product h1 {
    font-size: 42px;
    letter-spacing: .03px;
    margin-top: 1rem; }
    @media (max-width: 991.98px) {
      .banner-product h1 {
        font-size: 32px;
        line-height: normal; } }
    .banner-product h1 sup {
      font-size: 65%; }
  .banner-product p {
    font-size: 20px;
    line-height: 27px; }

@media (max-width: 767.98px) {
  .banner-product-info {
    padding-top: 0; }
    .banner-product-info h1 {
      margin: 60px 0 10px; }
    .banner-product-info p {
      font-size: 16px; } }

.bg-light-img {
  background: #fff;
  background-image: none !important; }

.breadcrumb {
  background-color: transparent !important;
  font-family: 'vagroundedstd-light';
  font-size: 12px; }
  .breadcrumb a {
    color: #000; }
  .breadcrumb .breadcrumb-item.active {
    color: #000;
    font-family: 'vagroundedstd-bold';
    padding: 0;
    text-decoration: underline; }
    @media (max-width: 767.98px) {
      .breadcrumb .breadcrumb-item.active {
        margin-left: 5px; } }
  .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: '>'; }

@media (max-width: 767.98px) {
  .page-template-single-all-products .products-home .link-product img {
    max-width: 100% !important; } }

.page-template-single-all-products .products-home .pr-category-snippet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px 0; }
  .page-template-single-all-products .products-home .pr-category-snippet .pr-category-snippet__item {
    display: block;
    width: 100%; }

.pb-jelly-minis.products-home .items-products {
  justify-content: center; }

.products-home.product-category {
  margin-bottom: 4rem; }
  .products-home.product-category.single-products .items-products {
    margin-bottom: 0 !important; }
  @media (max-width: 1199.98px) {
    .products-home.product-category .new-product .pr-category-snippet {
      display: flex;
      flex-wrap: wrap;
      margin: 10px auto; }
      .products-home.product-category .new-product .pr-category-snippet section {
        margin: auto; } }
  @media (max-width: 991.98px) {
    .products-home.product-category .new-product .pr-category-snippet {
      display: inline-flex; } }
  .products-home.product-category .items-products {
    border-bottom: 0.5px solid #20c1dc;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 3rem;
    padding-top: 0; }
    @media (max-width: 991.98px) {
      .products-home.product-category .items-products {
        padding-bottom: 40px; }
        .products-home.product-category .items-products .pr-snippet-stars-png {
          justify-content: center; } }
    .products-home.product-category .items-products:last-child {
      border-bottom: 0;
      display: flex;
      margin-bottom: 0;
      padding-bottom: 0; }
    .products-home.product-category .items-products .item {
      margin-bottom: 30px;
      text-align: center;
      transition: ease .3s; }
      .products-home.product-category .items-products .item.new-product {
        padding: 0 28px; }
        @media (max-width: 767.98px) {
          .products-home.product-category .items-products .item.new-product {
            padding: 0; } }
        @media (max-width: 767.98px) {
          .products-home.product-category .items-products .item.new-product figure {
            position: relative; }
            .products-home.product-category .items-products .item.new-product figure::after {
              right: 0 !important;
              top: 20px !important; } }
        .products-home.product-category .items-products .item.new-product figure::after {
          background-image: url("../../../img/new.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          content: '';
          display: block;
          height: 60px;
          position: absolute;
          right: 0rem;
          top: 6rem;
          width: 60px; }
      .products-home.product-category .items-products .item:nth-last-child(-n+3) {
        margin-bottom: 0; }
      .products-home.product-category .items-products .item .link-product {
        color: #000;
        text-decoration: none;
        transition: ease .6s; }
        .products-home.product-category .items-products .item .link-product p {
          color: #000;
          font-size: 18px; }
        .products-home.product-category .items-products .item .link-product small {
          font-family: 'vagroundedstd-bold';
          font-size: 14px;
          letter-spacing: 1px;
          line-height: 16px;
          text-transform: uppercase; }
      .products-home.product-category .items-products .item:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05); }
        .products-home.product-category .items-products .item:hover .link-product {
          color: #20c1dc; }
  .products-home.product-category .description {
    margin-bottom: 40px; }
    .products-home.product-category .description p {
      font-size: 18px;
      line-height: 1.11;
      margin-bottom: 0;
      margin-top: 0; }
  .products-home.product-category .img-review {
    margin-left: -5px;
    width: 50%; }
  .products-home.product-category .product-reviews {
    margin-bottom: 1rem; }
    .products-home.product-category .product-reviews a {
      color: #20c1dc;
      display: block;
      font-family: 'vagroundedstd-bold';
      font-size: 16px;
      line-height: 17px; }
      .products-home.product-category .product-reviews a:hover {
        color: #0cd3f5; }

@media (min-width: 768px) {
  .products-home.all-products-content {
    padding-top: 6rem; } }

.products-home.all-products-content a:hover {
  text-decoration: none; }

.products-home.all-products-content h3 {
  color: #20c1dc;
  font-size: 28px;
  line-height: 46px;
  text-align: left; }
  @media (max-width: 767.98px) {
    .products-home.all-products-content h3 {
      letter-spacing: 0;
      line-height: 35px;
      text-align: center; } }
  .products-home.all-products-content h3 sup {
    font-size: 65%; }

.products-home.all-products-content .description p {
  font-family: 'vagroundedstd-light' !important;
  font-size: 20px;
  line-height: 27px; }
  @media (max-width: 767.98px) {
    .products-home.all-products-content .description p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 0; } }
  .products-home.all-products-content .description p sup {
    font-size: 65%; }

.products-home.all-products-content .name-product {
  margin-top: 3rem; }
  @media (max-width: 767.98px) {
    .products-home.all-products-content .name-product {
      margin-top: 40px;
      text-align: center; } }
  @media (min-width: 768px) {
    .products-home.all-products-content .name-product[data-count='1'] {
      margin-top: 0; } }
  .products-home.all-products-content .name-product a {
    display: block; }

.all-products-carousel,
.other-products {
  padding: 30px 100px; }
  .all-products-carousel .item,
  .other-products .item {
    margin-bottom: 30px;
    text-align: center;
    transition: ease .3s; }
    .all-products-carousel .item .link-product,
    .other-products .item .link-product {
      color: #000;
      display: block;
      text-decoration: none;
      transition: ease .3s; }
      .all-products-carousel .item .link-product[href*='peppers'] figure .img-product,
      .other-products .item .link-product[href*='peppers'] figure .img-product {
        max-height: 150px; }
      .all-products-carousel .item .link-product figure,
      .other-products .item .link-product figure {
        align-items: flex-end;
        display: flex;
        justify-content: center;
        max-height: 260px;
        min-height: 260px; }
        .all-products-carousel .item .link-product figure .img-product,
        .other-products .item .link-product figure .img-product {
          max-height: 220px;
          -o-object-fit: contain;
             object-fit: contain; }
      .all-products-carousel .item .link-product p,
      .other-products .item .link-product p {
        color: #000; }
      .all-products-carousel .item .link-product small,
      .other-products .item .link-product small {
        font-family: 'vagroundedstd-bold';
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 16px;
        text-transform: uppercase; }
    .all-products-carousel .item:hover,
    .other-products .item:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
      .all-products-carousel .item:hover .link-product,
      .other-products .item:hover .link-product {
        color: #20c1dc; }
  .all-products-carousel .owl-nav,
  .other-products .owl-nav {
    bottom: 50px;
    height: 45px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }
    .all-products-carousel .owl-nav .owl-prev,
    .all-products-carousel .owl-nav .owl-next,
    .other-products .owl-nav .owl-prev,
    .other-products .owl-nav .owl-next {
      position: absolute; }
      .all-products-carousel .owl-nav .owl-prev:hover,
      .all-products-carousel .owl-nav .owl-next:hover,
      .other-products .owl-nav .owl-prev:hover,
      .other-products .owl-nav .owl-next:hover {
        background: transparent; }
      .all-products-carousel .owl-nav .owl-prev:focus,
      .all-products-carousel .owl-nav .owl-next:focus,
      .other-products .owl-nav .owl-prev:focus,
      .other-products .owl-nav .owl-next:focus {
        outline: none; }
    .all-products-carousel .owl-nav .owl-prev,
    .other-products .owl-nav .owl-prev {
      left: 0; }
    .all-products-carousel .owl-nav .owl-next,
    .other-products .owl-nav .owl-next {
      right: 0; }

.single .featured-recipes-home {
  background-image: none;
  padding-top: 0; }
  .single .featured-recipes-home .title h3 {
    background-color: #fff !important;
    text-align: left; }
  .single .featured-recipes-home .title h2 {
    font-size: 32px; }
  @media (max-width: 767.98px) {
    .single .featured-recipes-home .pr-snippet-stars-png {
      flex-direction: row-reverse !important;
      justify-content: flex-end !important; }
      .single .featured-recipes-home .pr-snippet-stars-png .pr-snippet-rating-decimal {
        font-size: 56px !important; } }
  .single .featured-recipes-home .pr-review-display article .pr-rd-description {
    text-align: left; }
  .single .featured-recipes-home .pr-review-display article .pr-rd-reviewer-details span {
    color: #000 !important; }

.btn-dropdown-sizes {
  align-items: center;
  background-color: rgba(179, 216, 43, 0.2);
  border: 2px solid #b3d82b;
  border-radius: 100px;
  color: #b3d82b;
  display: flex;
  font-family: 'vagroundedstd-bold';
  font-size: 18px;
  justify-content: space-around;
  line-height: 22px;
  min-height: 50px;
  min-width: 140px; }
  .btn-dropdown-sizes:hover {
    color: #bfde4d; }

.products-template-default .p-w-r .pr-snippet {
  margin: 0 auto !important; }

.single-product .info-product {
  padding: 0 0 5rem; }
  @media (max-width: 767.98px) {
    .single-product .info-product {
      padding: 0 0 35px; } }
  @media (max-width: 767.98px) {
    .single-product .info-product .new-product figure {
      position: relative; }
      .single-product .info-product .new-product figure::after {
        right: 27px !important;
        top: 15px !important; } }
  .single-product .info-product .new-product figure::after {
    background-image: url("../../../img/new.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 70px;
    position: absolute;
    right: 30px;
    top: 0;
    width: 70px; }
  @media (max-width: 1199.98px) {
    .single-product .info-product .title-single-pro {
      font-size: 42px;
      line-height: 1.1;
      margin: 30px 0 10px; } }
  .single-product .info-product .product-big-image {
    display: flex;
    justify-content: center; }
    .single-product .info-product .product-big-image .img-indicator {
      margin-left: 2rem;
      max-width: 120px; }
  .single-product .info-product .product-upc {
    color: #9b9b9b;
    font-size: 16px;
    text-align: center; }
    .single-product .info-product .product-upc p,
    .single-product .info-product .product-upc span {
      font-family: 'vagroundedstd-light';
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 0; }
  .single-product .info-product .img-product {
    display: block;
    max-height: 460px; }
    @media (max-width: 767.98px) {
      .single-product .info-product .img-product {
        margin: 0 auto;
        max-width: 95% !important; } }
  .single-product .info-product h1 {
    color: #000;
    font-family: 'vagroundedstd-bold';
    font-size: 42px;
    letter-spacing: .03px;
    line-height: normal;
    margin-bottom: 0; }
    .single-product .info-product h1 small {
      color: #000;
      display: block;
      font-family: 'vagroundedstd-bold';
      font-size: 20px;
      line-height: 24px;
      width: 100%; }
  .single-product .info-product .code {
    color: #bfbebe;
    font-size: 16px; }
  .single-product .info-product .tags-product {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .single-product .info-product .sizes {
    align-items: center;
    display: flex; }
    .single-product .info-product .sizes span {
      font-family: 'vagroundedstd-bold' !important;
      font-size: 18px;
      letter-spacing: 0; }
    .single-product .info-product .sizes .dropdown-menu.show {
      background-color: #ebf5cc;
      border: 2px solid #b3d82b;
      border-radius: 26px;
      padding: 0;
      text-align: center;
      -webkit-transform: translate3d(0, -3px, 0) !important;
              transform: translate3d(0, -3px, 0) !important; }
      .single-product .info-product .sizes .dropdown-menu.show .dropdown-item {
        color: #b3d82b;
        font-size: 18px;
        letter-spacing: .03px;
        line-height: 29px; }
        .single-product .info-product .sizes .dropdown-menu.show .dropdown-item:hover, .single-product .info-product .sizes .dropdown-menu.show .dropdown-item.active {
          background-color: #b3d82b;
          color: #fff; }
          .single-product .info-product .sizes .dropdown-menu.show .dropdown-item:hover:first-child, .single-product .info-product .sizes .dropdown-menu.show .dropdown-item.active:first-child {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px; }
          .single-product .info-product .sizes .dropdown-menu.show .dropdown-item:hover:last-child, .single-product .info-product .sizes .dropdown-menu.show .dropdown-item.active:last-child {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px; }
        .single-product .info-product .sizes .dropdown-menu.show .dropdown-item.active {
          background-color: #b3d82b;
          color: #fff; }
    .single-product .info-product .sizes .sizes-list {
      background: #ebf5cc;
      border-radius: 50px;
      display: flex;
      list-style: none;
      margin-bottom: 0;
      margin-left: 2rem;
      padding: 0; }
      .single-product .info-product .sizes .sizes-list li {
        align-items: center;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        padding: 7px 1.3rem;
        position: relative;
        transition: width .5s; }
        .single-product .info-product .sizes .sizes-list li:hover::before {
          opacity: 1;
          width: 100%; }
        .single-product .info-product .sizes .sizes-list li:hover a {
          color: #fff;
          z-index: 2; }
        .single-product .info-product .sizes .sizes-list li::before {
          background-color: #0cd3f5;
          border-radius: 100px;
          content: '';
          height: 100%;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          transition: width .3s;
          width: 0%;
          z-index: 1; }
        .single-product .info-product .sizes .sizes-list li.active {
          background-color: #20c1dc; }
          .single-product .info-product .sizes .sizes-list li.active a {
            color: #fff; }
        .single-product .info-product .sizes .sizes-list li + li {
          margin-left: 1rem; }
        .single-product .info-product .sizes .sizes-list li a {
          color: #000;
          font-family: 'vagroundedstd-bold';
          vertical-align: text-bottom; }
  .single-product .info-product .description > * {
    font-size: 16px;
    line-height: 22px; }
  .single-product .info-product .cont-cta {
    display: flex;
    margin: 4rem 0 .5rem; }
    @media (max-width: 991.98px) {
      .single-product .info-product .cont-cta {
        align-items: flex-start;
        flex-direction: column; } }
    .single-product .info-product .cont-cta .btn-main {
      background-color: #b3d82b;
      border-radius: 100px;
      color: #fff;
      font-family: 'vagroundedstd-bold';
      font-size: 18px;
      line-height: 22px;
      min-width: 190px;
      padding: .813rem 1rem;
      font-family: 'vagroundedstd-bold';
      line-height: 22px;
      max-width: 220px;
      min-width: 10px;
      padding: 15px 25px;
      text-align: center; }
      .single-product .info-product .cont-cta .btn-main:hover {
        background-color: #98b822;
        color: #fff;
        text-decoration: none; }
      @media (max-width: 991.98px) {
        .single-product .info-product .cont-cta .btn-main {
          width: 100%; } }
    .single-product .info-product .cont-cta a {
      text-transform: capitalize; }
      .single-product .info-product .cont-cta a + a {
        margin-left: 2rem; }
        @media (max-width: 991.98px) {
          .single-product .info-product .cont-cta a + a {
            margin: 1rem 0 0; } }
  .single-product .info-product .ssbp-wrap .item-instagram {
    width: 40px; }
    .single-product .info-product .ssbp-wrap .item-instagram a {
      display: block; }
  .single-product .info-product .product-cont-buttons {
    margin: 50px 0 20px; }
    .single-product .info-product .product-cont-buttons .btn-write-review {
      min-width: 220px; }
      @media (max-width: 767.98px) {
        .single-product .info-product .product-cont-buttons .btn-write-review {
          padding: 13px 0; } }
  .single-product .info-product .cta-info[data-status='active'] {
    display: flex; }
    @media (max-width: 767.98px) {
      .single-product .info-product .cta-info[data-status='active'] {
        margin: 0 auto;
        width: 92%; } }
  .single-product .info-product .cta-info a {
    background-color: #b3d82b;
    border-radius: 100px;
    color: #fff;
    display: flex;
    font-family: 'vagroundedstd-bold';
    font-size: 18px;
    justify-content: center;
    min-width: 140px;
    padding: 10px 0; }
    @media (max-width: 767.98px) {
      .single-product .info-product .cta-info a {
        margin: 10px 0;
        min-width: 157px; } }
    .single-product .info-product .cta-info a:hover {
      background-color: #98b822;
      color: #fff;
      text-decoration: none; }
    .single-product .info-product .cta-info a + a {
      margin-left: 1rem; }

.single-product .recipe-share span,
.single-product .recipe-share br {
  display: none; }

.single-product .cards-product .card {
  background-color: #ebf5cc;
  border: 0;
  border-radius: 0;
  height: 100%; }
  .single-product .cards-product .card.left {
    background-color: #148aa9; }
  .single-product .cards-product .card.right {
    background-color: #20c1dc; }
  .single-product .cards-product .card .card-text {
    margin: 0 0 0 auto;
    max-width: 85%; }
    @media (max-width: 767.98px) {
      .single-product .cards-product .card .card-text {
        max-width: 100%; } }
  .single-product .cards-product .card .img-smartlabel {
    bottom: 3rem;
    display: block;
    left: 0;
    position: absolute;
    right: 0; }
    .single-product .cards-product .card .img-smartlabel figure {
      margin: 0; }
  .single-product .cards-product .card .card-header {
    align-items: center;
    background-color: transparent;
    border-bottom: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    padding: 20px; }
    .single-product .cards-product .card .card-header p {
      color: #fff;
      font-family: 'vagroundedstd-bold' !important;
      font-size: 28px;
      line-height: 41px;
      margin-bottom: 0; }
  .single-product .cards-product .card .card-body {
    min-height: 280px;
    padding: 25px 45px; }
    @media (max-width: 991.98px) {
      .single-product .cards-product .card .card-body {
        padding: 25px 15px; } }
    @media (max-width: 767.98px) {
      .single-product .cards-product .card .card-body {
        min-height: auto;
        padding: 25px 15px 130px; } }
    .single-product .cards-product .card .card-body p {
      color: #fff;
      font-family: 'vagroundedstd-light' !important;
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 0; }
      @media (max-width: 991.98px) {
        .single-product .cards-product .card .card-body p {
          font-size: 18px;
          line-height: 26px; } }
      .single-product .cards-product .card .card-body p + p {
        margin-top: 2rem; }
    .single-product .cards-product .card .card-body img {
      display: block;
      margin: auto;
      max-width: 430px;
      width: 100%; }

.all-product .name-product p {
  color: #000;
  line-height: 1.5; }

.all-product .list-product {
  margin-bottom: 2rem; }
  .all-product .list-product .link-product figure {
    margin-bottom: 1rem !important; }
    @media (max-width: 767.98px) {
      .all-product .list-product .link-product figure img {
        max-width: 158px !important; } }
  .all-product .list-product .link-product p {
    font-size: 18px !important; }

@media (max-width: 767px) {
  .products-home .product-img figure {
    max-height: 157px !important;
    min-height: 157px !important; }
  .products-home .item {
    margin-bottom: 10px !important; }
  .products-home.product-category .items-products {
    padding-bottom: 15px; }
  .back-top figure {
    display: none; } }

@media (min-width: 768px) {
  .single-product .info-product .new-product figure::after {
    right: 177px;
    top: 30px; } }

@media (min-width: 998px) {
  .card-body img {
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease; }
    .card-body img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .products-home.product-category .items-products .item.new-product figure::after {
    right: 1rem !important;
    top: 5rem !important; }
  .single-product .info-product .new-product figure::after {
    right: 40px;
    top: 55px; } }

@media (min-width: 1440px) {
  .banner-product {
    max-height: 500px;
    min-height: 500px; } }

@media (min-width: 1600px) {
  .banner-product {
    max-height: 800px;
    min-height: 800px; } }
