.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
  padding-top: 5rem;
  text-align: center; }
  @media (max-width: 767.98px) {
    .banner {
      min-height: 240px; } }
  .banner h1 {
    color: #fff;
    font-size: 42px;
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4); }

.page-template-recipes .title-filters h2,
.page-template-recipes .title-filters h5,
.page-template-recipes .visible-filters h2,
.page-template-recipes .visible-filters h5 {
  background-image: url("../../../img/icons/filter-icon.png");
  background-position: 26px center;
  background-repeat: no-repeat; }

.mar-lef-rec {
  position: relative;
  left: -20px; }

.page-template-recipes .cont-mobile-menu {
  padding: 20px 0 20px; }
  .page-template-recipes .cont-mobile-menu .visible-filters {
    padding: 7rem 0 0; }
    .page-template-recipes .cont-mobile-menu .visible-filters ul.children {
      overflow: hidden; }
    .page-template-recipes .cont-mobile-menu .visible-filters h5 {
      background-position: 0 center;
      background-size: 35px 30px;
      font-size: 22px;
      letter-spacing: .03px;
      line-height: 26px;
      margin: 0 auto 40px;
      padding-left: 55px;
      text-transform: initial; }
    .page-template-recipes .cont-mobile-menu .visible-filters .searchandfilter li {
      width: 100%; }
      .page-template-recipes .cont-mobile-menu .visible-filters .searchandfilter li ul {
        width: 100%; }

.page-template-recipes .list-recipes .pr-category-snippet {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px 0; }

.page-template-recipes .filter-section h2 {
  color: #20c1dc;
  font-size: 22px;
  text-align: center; }

.page-template-recipes .filter-section .title-filters h2 {
  background-size: 35px 30px;
  margin: 20px auto 50px;
  max-width: 75%;
  padding-left: 60px; }
  .page-template-recipes .filter-section .title-filters h2:hover {
    cursor: pointer; }

@media (max-width: 767.98px) {
  .page-template-recipes .right-recipes {
    border: 0;
    margin-top: 0; } }

.categories-filters {
  background-color: #b3d82b;
  margin-bottom: 3rem; }
  .categories-filters .dropdown-toggle::after {
    display: none; }
  .categories-filters .cont-button-filter {
    color: #fff;
    font-family: 'vagroundedstd-bold';
    font-size: 22px;
    letter-spacing: .03px;
    line-height: 28px;
    min-height: 70px;
    padding: 8.5px 0; }
    .categories-filters .cont-button-filter:hover {
      cursor: pointer; }
    .categories-filters .cont-button-filter h2 {
      margin: 0;
      padding: 0; }
      .categories-filters .cont-button-filter h2::after {
        font-family: 'Font Awesome 5 Free';
        font-size: 20px;
        font-weight: 900;
        left: 0;
        margin-left: 1rem; }
    .categories-filters .cont-button-filter[aria-expanded='false'] h2::after {
      content: '\f078'; }
    .categories-filters .cont-button-filter[aria-expanded='true'] h2::after {
      content: '\f077'; }
    .categories-filters .cont-button-filter .right-buttons .reset-filters {
      color: #fff;
      font-family: 'Poppins', sans-serif;
      font-weight: 500; }
  .categories-filters .main-parent-filter.show {
    background: #fff;
    border: 0;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.4);
    color: #000;
    display: flex !important;
    margin: auto;
    min-height: 270px;
    overflow-y: scroll;
    padding: 1rem;
    right: 0;
    -webkit-transform: translate3d(0, 70px, 0) !important;
            transform: translate3d(0, 70px, 0) !important;
    width: 100%; }
  .categories-filters .main-parent-filter .radio-list {
    width: 100%; }
  .categories-filters .main-parent-filter .nav-filters ul.parent-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%; }
    .categories-filters .main-parent-filter .nav-filters ul.parent-list > li:last-child {
      margin: 2rem 0 0;
      text-align: center; }
    .categories-filters .main-parent-filter .nav-filters ul.parent-list > li:first-child > ul:first-child > li > label {
      font-family: 'vagroundedstd-bold';
      font-size: 16px;
      line-height: 22px; }
      .categories-filters .main-parent-filter .nav-filters ul.parent-list > li:first-child > ul:first-child > li > label input[type='checkbox'] {
        display: none; }
    .categories-filters .main-parent-filter .nav-filters ul.parent-list > li input[type='submit'] {
      background-color: #b3d82b;
      border-radius: 100px;
      color: #fff;
      font-family: 'vagroundedstd-bold';
      font-size: 18px;
      line-height: 22px;
      min-width: 190px;
      padding: .813rem 1rem;
      font-family: 'vagroundedstd-bold';
      min-width: 130px;
      padding: .657rem 1rem; }
      .categories-filters .main-parent-filter .nav-filters ul.parent-list > li input[type='submit']:hover {
        background-color: #98b822;
        color: #fff;
        text-decoration: none; }
    .categories-filters .main-parent-filter .nav-filters ul.parent-list > li ul:not(.children) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0; }
      .categories-filters .main-parent-filter .nav-filters ul.parent-list > li ul:not(.children) > .cat-item {
        position: relative; }
    .categories-filters .main-parent-filter .nav-filters ul.parent-list label {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px; }
      .categories-filters .main-parent-filter .nav-filters ul.parent-list label input[type='checkbox'] {
        margin-right: 5px; }
  .categories-filters .main-parent-filter .nav-filters ul.children {
    padding-left: 0; }
    .categories-filters .main-parent-filter .nav-filters ul.children > li {
      display: block; }
      .categories-filters .main-parent-filter .nav-filters ul.children > li label {
        margin: 0; }
  .categories-filters .main-parent-filter .nav-filters .cat-item.uncategorized {
    display: none; }

.recipes-container .title-results h4 {
  font-family: 'vagroundedstd-bold';
  font-size: 28px;
  line-height: 46px; }
  .recipes-container .title-results h4 span {
    color: #20c1dc;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 0; }

.recipes-container .title-results .search-categories {
  font-family: 'vagroundedstd-light';
  font-size: 18px;
  line-height: 25px; }

.recipes-container .item {
  margin-bottom: 25px; }
  @media (max-width: 767.98px) {
    .recipes-container .item {
      margin: 0 0 40px !important; } }
  .recipes-container .item .link-product {
    display: block;
    text-align: center;
    transition: ease .3s; }
    .recipes-container .item .link-product:hover {
      text-decoration: none;
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
      .recipes-container .item .link-product:hover figure::after {
        opacity: 1; }
    .recipes-container .item .link-product figure {
      height: 220px;
      margin: 0 auto 1rem;
      width: 220px; }
      .recipes-container .item .link-product figure::after {
        align-items: center;
        background-color: rgba(8, 91, 162, 0.5);
        border-radius: 50%;
        bottom: 0;
        color: #fff;
        content: 'View recipe';
        display: flex;
        font-family: 'vagroundedstd-bold';
        font-size: 28px;
        height: 220px;
        justify-content: center;
        left: 0;
        line-height: 41px;
        margin: 0 auto;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 220px; }
      .recipes-container .item .link-product figure .bg-img {
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        height: 100%;
        width: 100%; }
      .recipes-container .item .link-product figure img {
        border-radius: 50%;
        display: none; }
    .recipes-container .item .link-product .name {
      color: #000;
      font-family: 'vagroundedstd-bold';
      font-size: 18px;
      line-height: 22px; }

.recipe-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  position: relative; }
  .recipe-banner::after {
    bottom: 14px;
    color: #f6f6f6;
    content: "Serving Suggestion";
    font-family: 'vagroundedstd-light';
    font-size: 15px;
    position: absolute;
    right: 21px; }

.recipe-main h1 {
  font-size: 42px;
  letter-spacing: .03px;
  text-align: center; }
  @media (max-width: 991.98px) {
    .recipe-main h1 {
      line-height: 46px; } }

.recipe-main .border-recipe {
  border-bottom: 1px solid #20c1dc;
  border-top: 1px solid #20c1dc; }
  .recipe-main .border-recipe.recipe-content {
    margin: 30px 0;
    padding: 12px 0; }

.recipe-main .breadcrumb {
  padding: .75rem 0; }

.recipe-main .p-w-r .pr-snippet {
  margin: 0 auto !important; }

.recipe-main .recipe-description p {
  font-size: 20px;
  line-height: 27px;
  margin: 1rem auto;
  max-height: 50px;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .recipe-main .recipe-description p::after {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), #fff);
    bottom: 0;
    content: '';
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%; }
  .recipe-main .recipe-description p.showing {
    background: 0;
    max-height: 100%; }
    .recipe-main .recipe-description p.showing::after {
      content: none; }

.recipe-main .recipe-description .cont-show-more {
  text-align: center; }
  .recipe-main .recipe-description .cont-show-more .read-more {
    border-radius: 0;
    color: #bfbebe; }

.recipe-main .recipe-information {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  width: 100%; }
  @media (max-width: 991.98px) {
    .recipe-main .recipe-information {
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 250px; } }
  .recipe-main .recipe-information .information-item {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    padding-left: 80px;
    position: relative; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .recipe-main .recipe-information .information-item {
        flex: 100%; } }
    @media (max-width: 991.98px) {
      .recipe-main .recipe-information .information-item {
        margin: 10px 0;
        width: 100%; } }
    .recipe-main .recipe-information .information-item.recipe-servings::before {
      background-image: url("../../../img/icons/icon-serving.png"); }
    .recipe-main .recipe-information .information-item.recipe-calories::before {
      background-image: url("../../../img/icons/icon-recipe-calories.png"); }
    .recipe-main .recipe-information .information-item.recipe-prep-time::before {
      background-image: url("../../../img/icons/icon-prep-time.png"); }
    .recipe-main .recipe-information .information-item.recipe-cook-time::before {
      background-image: url("../../../img/icons/icon-cook-time.png"); }
    .recipe-main .recipe-information .information-item.recipe-total-time::before {
      background-image: url("../../../img/icons/icon-cook-total-time.png"); }
    .recipe-main .recipe-information .information-item::before {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: 60px;
      left: 0;
      position: absolute;
      top: -7px;
      width: 60px; }
    .recipe-main .recipe-information .information-item label {
      color: #545454;
      font-family: 'vagroundedstd-light';
      font-size: 12px;
      letter-spacing: .92px;
      line-height: 14px;
      margin: 0;
      text-transform: uppercase; }
    .recipe-main .recipe-information .information-item span {
      font-family: 'vagroundedstd-light';
      font-size: 32px;
      letter-spacing: .04px; }
      @media (max-width: 991.98px) {
        .recipe-main .recipe-information .information-item span {
          font-size: 28px;
          letter-spacing: 0;
          line-height: 41px; } }

.recipe-main .cont-columns {
  margin-top: 2rem; }
  .recipe-main .cont-columns .column.col-ingredients ul {
    list-style: none;
    padding-left: 0; }
  .recipe-main .cont-columns .column p,
  .recipe-main .cont-columns .column span {
    font-size: 16px;
    line-height: 22px; }
  .recipe-main .cont-columns .column span,
  .recipe-main .cont-columns .column a {
    font-family: 'vagroundedstd-bold'; }
  .recipe-main .cont-columns .column a {
    color: #000; }
  .recipe-main .cont-columns .column ul li {
    font-size: 16px;
    line-height: 22px; }
    .recipe-main .cont-columns .column ul li + li {
      margin-top: 1rem; }
  .recipe-main .cont-columns .column.col-directions ol {
    counter-reset: item;
    padding-left: 20px; }
    .recipe-main .cont-columns .column.col-directions ol li {
      display: block;
      font-size: 16px;
      line-height: 22px; }
      .recipe-main .cont-columns .column.col-directions ol li::before {
        color: #000;
        content: counter(item) ". ";
        counter-increment: item;
        display: block;
        font-family: 'vagroundedstd-bold';
        left: -1.3em;
        max-height: 0;
        max-width: 0;
        position: relative;
        top: .05em; }
      .recipe-main .cont-columns .column.col-directions ol li + li {
        margin-top: 1rem; }
  .recipe-main .cont-columns .column h4 {
    font-family: 'vagroundedstd-bold';
    font-size: 22px;
    letter-spacing: .03px;
    line-height: 28px;
    margin-bottom: 1rem; }

.recipe-share:not(.product-share) {
  margin: 0 -15px; }

.recipe-share .ssbp--theme-6 .ssbp-list li {
  margin: 0 .25rem !important; }
  @media (max-width: 767.98px) {
    .recipe-share .ssbp--theme-6 .ssbp-list li {
      margin: 0 2px !important; } }
  @media (max-width: 767.98px) {
    .recipe-share .ssbp--theme-6 .ssbp-list li a {
      display: block;
      height: 40px !important;
      line-height: 0;
      width: 40px !important; } }

.recipe-share .ssbp--theme-6 .ssbp-list .item-instagram {
  width: 40px; }
  @media (max-width: 767.98px) {
    .recipe-share .ssbp--theme-6 .ssbp-list .item-instagram {
      width: 40px; } }

.recipe-share .by-brand,
.recipe-share .date {
  color: #545454;
  display: block;
  font-size: 12px;
  letter-spacing: .92px;
  line-height: 14px; }

@media (max-width: 991.98px) {
  .recipe-share .by-brand {
    margin: 20px 0 0; } }

@media (max-width: 767.98px) {
  .recipe-share .by-brand {
    margin: 0; } }

.page-template-page-single-recipe .featured-recipes-home .title {
  padding-bottom: 0 !important;
  padding-top: 10px !important; }

.page-template-page-single-recipe .featured-recipes-home .pr-snippet-review-count {
  color: #20c1dc;
  font-weight: bold; }

@media (max-width: 991.98px) {
  .page-template-page-single-recipe .recipe-share .ssbp--theme-6 .ssbp-list li a {
    height: 32px !important;
    width: 32px !important; }
    .page-template-page-single-recipe .recipe-share .ssbp--theme-6 .ssbp-list li a::before {
      font-size: 15px;
      line-height: 31px !important; } }

.search-filter-reset {
  background-color: #b3d82b;
  border-radius: 100px;
  color: #fff;
  font-family: 'vagroundedstd-bold';
  font-size: 18px;
  line-height: 22px;
  min-width: 190px;
  padding: .813rem 1rem;
  padding: .875rem 3rem; }
  .search-filter-reset:hover {
    background-color: #98b822;
    color: #fff;
    text-decoration: none; }

@media (max-width: 414px) {
  .recipe-main .recipe-information {
    margin: 0 auto;
    max-width: 250px; }
    .recipe-main .recipe-information .information-item {
      width: 100%; } }
