.search-page-title {
  color: #000;
  padding: 1.5rem 2rem; }
  .search-page-title p,
  .search-page-title span {
    font-family: 'vagroundedstd-bold';
    font-size: 28px;
    letter-spacing: 1.58px;
    margin: 40px auto 0;
    text-align: center; }
  .search-page-title span {
    color: #20c1dc; }

.search-result {
  padding: 30px 0; }
  .search-result .item-search {
    align-items: center;
    border-bottom: solid 1px #20c1dc;
    display: flex;
    justify-content: flex-start;
    padding: 20px; }
    @media (max-width: 991.98px) {
      .search-result .item-search {
        flex-direction: column; } }
    .search-result .item-search img {
      max-height: 140px;
      max-width: 140px; }
      @media (max-width: 991.98px) {
        .search-result .item-search img {
          margin: 10px 0 30px; } }
    .search-result .item-search article {
      margin-left: 20px;
      width: 65%; }
      @media (max-width: 767.98px) {
        .search-result .item-search article {
          margin: 0;
          text-align: center;
          width: 100%; } }
      .search-result .item-search article p {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 20px; }
      .search-result .item-search article .entry-title a {
        color: #b3d82b;
        font-family: 'vagroundedstd-bold';
        font-size: 21px;
        line-height: 24px;
        text-decoration: underline; }
        .search-result .item-search article .entry-title a:hover {
          color: #0cd3f5; }
      .search-result .item-search article .entry-summary ul {
        list-style: none;
        padding: 0; }
  .search-result .navigation {
    font-size: 18px;
    margin: auto;
    padding-top: 26px; }
    .search-result .navigation .page-numbers {
      color: #000;
      margin: 0 3px; }
    .search-result .navigation .current,
    .search-result .navigation .prev,
    .search-result .navigation .next {
      color: #20c1dc;
      font-size: 18px; }
  .search-result .accordion-content {
    width: 100%; }
    .search-result .accordion-content .card-body {
      padding: 0; }
    .search-result .accordion-content .nav-tabs {
      border-bottom: 1px solid #20c1dc;
      justify-content: center; }
    .search-result .accordion-content button {
      background: #b3d82b;
      border-radius: 35px 35px 0 0;
      color: #fff;
      font-family: 'vagroundedstd-bold';
      height: 50px;
      transition: all .2s ease-in-out;
      width: 220px; }
      @media (max-width: 767.98px) {
        .search-result .accordion-content button {
          font-size: 18px; } }
      .search-result .accordion-content button.collapsed {
        background-color: rgba(179, 216, 43, 0.2);
        color: #b3d82b; }
        .search-result .accordion-content button.collapsed:hover {
          color: #b3d82b; }
      .search-result .accordion-content button:hover, .search-result .accordion-content button:focus {
        -webkit-transform: scale(1.03);
        color: #fff;
        text-decoration: none;
        transform: scale(1.03); }
  .search-result .not-found {
    text-align: center; }
    .search-result .not-found header {
      background: none; }
      .search-result .not-found header h1 {
        font-size: 40px;
        line-height: normal;
        margin: 0 auto 15px; }
    .search-result .not-found .page-content {
      text-align: center; }
    .search-result .not-found .input-search {
      background: #20c1dc;
      border: 0;
      border-radius: 5px;
      color: #fff;
      padding: 5px 10px; }
      .search-result .not-found .input-search:focus {
        outline: none; }
    .search-result .not-found .search-submit {
      color: #20c1dc; }

@media (max-width: 576px) {
  .search-result {
    padding: 20px 0 0; }
    .search-result .accordion-content button {
      width: 180px; } }
